.task-list {
    height: 1rem;
    width: 7.5rem;
    line-height: 1rem;
    font-size: .36rem;
    color: #6a6a6a;
    text-align: center;
    position: fixed;
    left: calc(50% - 3.75rem);
    top: 0;
    z-index: 999;
}

.task-li {
    width: 2.5rem;
}

.task-li span {
    display: inline-block;
}

.task-li-check span {
    color: #ffa800;
    box-sizing: border-box;
    border-bottom: .01rem solid #ffa800;
}

.order-list {
    display: none;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}


/* 订单信息部分在all.css */

.order-li {
    box-sizing: border-box;
    width: 7.5rem;
    padding: .4rem .2rem;
    margin-bottom: .2rem;
}

.order-msg {
    padding: .2rem;
    padding-right: 1.1rem;
    font-size: .32rem;
    position: relative;
}

.payStates,
.telephone {
    margin-bottom: .2rem;
}

.payStates span,
.telephone span {
    margin-left: .2rem;
    color: #ffa800;
}


/* 拨打电话样式在all.css */


/* 新任务列表 */

.newWai .op-inp1 {
    margin-top: .5rem;
}


/* 底部菜单 */

.menu {
    line-height: .45rem;
    text-align: center;
    color: #9a9a9a;
    padding: .09rem .2rem;
}

.menu-li {
    width: 50%;
}

.menu-li>a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu-li>a>i {
    display: block;
    width: .35rem;
    height: .35rem;
    margin: 0 auto;
}

.menu-task>a>i {
    background: url(./../img/task_on.png)no-repeat center;
    background-size: 100% 100%;
}

.menu-task>a {
    color: #ffa800;
}

.menu-center>a>i {
    background: url(./../img/center.png)no-repeat center;
    background-size: 100% 100%;
}