.nav-first-li:nth-of-type(5) > a {
  color: #a6ce60;
}

#about-bg {
  width: 100%;
  height: 524px;
  background: url(/images/about_bg.png) no-repeat center;
}

#about-bg #about-list-box {
  position: relative;
  height: 100%;
}

#about-bg #about-list-box #about-list {
  position: absolute;
  left: 115px;
  bottom: 0;
}

#about-bg #about-list-box #about-list .aboutli {
  padding: 0 30px;
  line-height: 58px;
  user-select: none;
  -webkit-user-select: none;
}

#about-bg #about-list-box #about-list .aboutli a {
  color: #fff;
}

#about-bg #about-list-box #about-list .aboutli:hover {
  cursor: pointer;
}

#about-bg #about-list-box #about-list .checkli {
  padding: 0 40px;
  margin-top: -22px;
  line-height: 80px;
}

#about-bg #about-list-box #about-list .aboutli-one {
  background-color: #12bbb1;
}

#about-bg #about-list-box #about-list .aboutli-two {
  background-color: #8dc642;
}

#about-bg #about-list-box #about-list .aboutli-three {
  background-color: #fbaf5d;
}

#about-bg #about-list-box #about-list .aboutli-four {
  background-color: #f26c51;
}

#about-bg #about-list-box #about-list .aboutli-five {
  background-color: orangered;
}

#about-bg #about-list-box #about-list .aboutli-five a {
  display: block;
  width: 100%;
  height: 100%;
}

#now-add {
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  margin: 36px auto;
  color: #898a89;
}

#now-add p {
  display: block;
  text-align: right;
}

#now-add p i {
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url(/images/index_03.png) no-repeat center;
  background-size: 100%;
}

#now-add p a {
  color: #898a89;
}

.title-box {
  height: 100px;
  margin-bottom: 40px;
  position: relative;
}

.title-box h4 {
  font-size: 40px;
  line-height: 60px;
  color: red;
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 999;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-box i {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  position: absolute;
  left: 0px;
  top: 60px;
  z-index: 999;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-box span {
  display: block;
  width: 200px;
  height: 100px;
  border: 8px solid #f0f0f0;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 800;
}

#article-main {
  padding-bottom: 40px;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 40px;
  display: none;
}

.art-ul {
  text-indent: 3rem !important;
  color: #000 !important;
  margin: 20px auto;
  width: 1000px;
}

.art-ul li {
  padding: 30px 0;
  border-bottom: 1px solid #999;
}

.art-ul li .art-t {
  font-size: 32px;
  line-height: 60px;
}

.art-ul li .art-s {
  font-size: 22px;
  line-height: 36px;
}

.art-ul li .art-c {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.art-ul li .art-c * {
  color: #000 !important;
  text-indent: 2rem !important;
  font-weight: normal !important;
}

.art-ul li .art-c * img {
  margin: 20px auto;
  display: block;
  max-width: 980px;
}

.art-ul li .art-c * video {
  display: block;
  width: 600px;
  height: 320px;
  margin: 20px auto;
}

.art-ul li .art-c a,
.art-ul li .art-c a * {
  color: blue !important;
}

.art-ul li .art-c a:hover {
  text-decoration: underline;
}

#article-main .art-v {
  display: none;
}

#article-main img {
  display: block;
  margin: 20px auto;
  max-width: 980px;
}

#article-main video {
  display: block;
  width: 600px;
  height: 320px;
  margin: 20px auto;
}

#what-we-do {
  width: 440px;
  margin-bottom: 50px;
  display: none;
}

#what-we-do #we_do {
  margin-bottom: 30px;
}

#what-we-do #we_do span {
  font-size: 28px;
  line-height: 30px;
}

#what-we-do #we_do p {
  font-size: 46px;
  line-height: 80px;
}

#what-we-do #tellme {
  width: 100%;
}

#what-we-do #tellme div {
  position: relative;
  font-size: 18px;
  margin-bottom: 15px;
}

#what-we-do #tellme div span {
  display: inline-block;
  text-align: center;
  height: 48px;
  width: 90px;
  line-height: 48px;
  position: absolute;
  left: -90px;
  top: 0;
}

#what-we-do #tellme div input,
#what-we-do #tellme div button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 18px;
}

#what-we-do #tellme div textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 18px;
  resize: none;
}

#what-we-do #tellme #name,
#what-we-do #tellme #tel,
#what-we-do #tellme #submit {
  height: 48px;
  width: 100%;
}

#what-we-do #tellme #content {
  height: 200px;
}

#what-we-do #tellme #submit button {
  text-indent: 30px;
  letter-spacing: 30px;
  text-align: center;
  background-color: #0d65db;
  color: #fff;
}

#what-we-do #tellme #submit button:hover {
  cursor: pointer;
}

#map-box {
  position: relative;
  width: 100%;
  height: 420px;
  display: none;
}

#map-box #map {
  width: 100%;
  height: 100%;
  position: relative;
}

#map-box #addr-box {
  height: 100%;
  width: 330px;
  background-color: rgba(131, 174, 231, 0.9);
  box-sizing: border-box;
  padding: 160px 0;
  position: absolute;
  left: 100px;
  top: 0;
  z-index: 990;
}

#map-box #addr-box #addr-cont {
  color: #fff;
  background-color: #0d65d1;
  font-size: 14px;
  line-height: 30px;
  padding: 5px 10px;
}

.ui-pagination-container {
  text-align: center;
}

.art-list {
  display: none;
}

.al-ul {
  width: 100%;
  margin-bottom: 60px;
}

.al-li {
  width: 360px;
  height: 518px;
  margin: 20px;
  border: 1px solid #eee;
  box-sizing: border-box;
  position: relative;
  background-color: #f9f0f9;
}

.al-li:hover {
  box-shadow: 0 0 8px #999;
  cursor: pointer;
}

.al-li:hover .al-li-cont {
  color: #c60402;
}

.al-li-img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
}

.al-li .sj {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 20%;
  top: 180px;
  border: 15px solid transparent;
  border-top: 15px solid #00a2e2;
}

.al-li-img img {
  display: block;
  width: 100%;
}

.al-li-tit {
  font-size: 20px;
  line-height: 48px;
  padding: 0 20px;
  margin-top: 20px;
}

.al-li-cont {
  font-size: 16px;
  line-height: 30px;
  padding: 0 20px;
}

.al-li-more {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 20px;
  padding: 0 20px;
}

.al-li-more span {
  display: block;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #c60402;
}

.td-int {
  width: 1000px;
  margin: 40px auto;
  text-align: center;
  font-size: 24px;
  overflow: hidden;
}

.td-tit {
  line-height: 40px;
  margin-bottom: 40px;
}

.td-tit span {
  border-bottom: 3px solid #00a2e2;
}

.td-cont {
  height: 700px;
  position: relative;
}

.td-ul {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.td-li {
  transform: scale(0.8);
  opacity: 0.5;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.td-li .td-sec {
  display: none;
}

.td-center {
  transform: scale(1);
  opacity: 1;
  left: 50%;
  margin-left: -400px;
  z-index: 999;
}

.td-center .td-sec {
  display: block;
}

.td-li > img {
  width: 420px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.td-li .td-sec p {
  line-height: 60px;
}

.td-li .td-sec p span {
  font-size: 18px;
  margin-left: 20px;
}

.td-li .td-sec div {
  text-align: left;
  text-indent: 2em;
  font-size: 18px;
  line-height: 28px;
}

.td-lr {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30%;
  margin-top: -20px;
  z-index: 1000;
  border-radius: 8px;
}

.td-l {
  left: 20px;
  background: url(/images/left.png) no-repeat center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.td-r {
  right: 20px;
  background: url(/images/right.png) no-repeat center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.fzlc {
  text-indent: 3rem !important;
  width: 1000px;
  margin: 20px auto;
  height: 440px;
  background: url(/images/about_bg_06.png) no-repeat center;
  background-size: 95%;
  margin-bottom: 80px;
}
