#header {
  background-color: #f2f2f2;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  width: 100%;
}

#header-content {
  height: 100%;
}

#header-content .sign {
  color: #60b24e;
  margin: 0 5px;
}

#header-content .login {
  color: #999;
}

#header-content #header-list li {
  margin: 0 12px;
}

#header-content #header-list li a {
  display: block;
  color: #000;
}

#header-content #header-list li a:hover {
  text-decoration: underline;
}

#header-content #header-list .list-icon {
  width: 12px;
  height: 12px;
  margin-top: 9px;
  margin-right: 5px;
}

#header-content #header-list li:nth-of-type(1) > .list-icon {
  background: url(/images/xe_09.png) no-repeat center;
  background-size: 100%;
}

#header-content #header-list li:nth-of-type(2) > .list-icon {
  background: url(/images/xe_11.png) no-repeat center;
  background-size: 100%;
}

#header-content #header-list li:nth-of-type(3) > .list-icon {
  background: url(/images/xe_13.png) no-repeat center;
  background-size: 100%;
}

#header-content #header-list li:nth-of-type(4) > .list-icon {
  background: url(/images/xe_15.png) no-repeat center;
  background-size: 100%;
}

#index-box {
  font-size: 20px;
}

#index-box > li {
  padding: 0 25px;
}

.nav {
  height: 90px;
  line-height: 90px;
}

.nav-content {
  height: 100%;
}

.nav-content > div {
  height: 100%;
}

.nav-border {
  border-bottom: 4px solid #60b24e;
}

.nav-content-left > a {
  display: block;
  margin-top: 12px;
}

.nav-content-left > a img {
  height: 60px;
}

.nav-content-right {
  position: relative;
  height: 90px;
  width: 660px;
  font-size: 20px;
}

.nav-content-right a {
  color: #000;
}

.nav-content-right a:hover {
  text-decoration: none;
}

.nav-content-right .nav-first > li {
  padding: 0 25px;
  position: relative;
  font-size: 20px;
}

.nav-content-right .nav-first > li .nav-second {
  position: absolute;
  width: 120px;
  left: 5px;
  top: 90px;
  z-index: 999;
  background-color: #fff;
  font-size: 14px;
  display: none;
  text-align: center;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li {
  padding: 0 10px;
  line-height: 35px;
  position: relative;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-second:last-of-type {
  border: none;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li a {
  color: #888;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li:last-child {
  border: none;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-thr {
  position: absolute;
  width: 120px;
  left: 120px;
  top: 0px;
  z-index: 999;
  background-color: #fff;
  font-size: 14px;
  display: none;
  text-align: center;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-thr .nav-thr-li {
  padding: 0 10px;
  line-height: 35px;
  position: relative;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-thr .nav-thr-li .nav-second:last-of-type {
  border: none;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-thr .nav-thr-li a {
  color: #888;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-thr .nav-thr-li:last-child {
  border: none;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-thr .nav-thr-li:hover {
  background-color: #f2f2f2;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li .nav-thr .nav-thr-li:hover a {
  color: #000;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li:hover {
  background-color: #f2f2f2;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li:hover a {
  color: #000;
}

.nav-content-right .nav-first > li .nav-second .nav-second-li:hover .nav-thr {
  display: block;
}

.nav-content-right .nav-first .nav-first-li:hover .nav-second {
  display: block;
}

.nav-content-right .search {
  height: 100%;
  width: 42px;
  position: relative;
  overflow: hidden;
}

.nav-content-right .search button {
  position: absolute;
  left: 0;
  top: 24px;
  height: 40px;
  width: 40px;
  z-index: 990;
  background: url(./../images/xe_28.png) no-repeat center;
  background-size: 100%;
  background-color: #bebebd;
}

.nav-content-right .search button:hover {
  cursor: pointer;
}

.nav-content-right #search-box {
  height: 100%;
  width: 750px;
  position: absolute;
  right: -150%;
  top: 0;
  background-color: #fff;
  display: none;
  z-index: 1000;
}

.nav-content-right #search-box #search-content {
  width: 685px;
  height: 54px;
  margin: 18px auto;
  border: 2px solid #8fc320;
  background: url(/images/search.png) no-repeat 15px center;
  background-size: 4%;
  position: relative;
}

.nav-content-right #search-box #search-content input {
  font-size: 20px;
  height: 50px;
  width: 520px;
  line-height: 50px;
  margin: 2px 15px 0 50px;
  color: #999;
}

.nav-content-right #search-box #search-content input::-webkit-input-placeholder,
.nav-content-right #search-box #search-content textarea::-webkit-input-placeholder {
  color: #999;
}

.nav-content-right #search-box #search-content input:-moz-placeholder,
.nav-content-right #search-box #search-content textarea:-moz-placeholder {
  color: #999;
}

.nav-content-right #search-box #search-content input::-moz-placeholder,
.nav-content-right #search-box #search-content textarea::-moz-placeholder {
  color: #999;
}

.nav-content-right #search-box #search-content input:-ms-input-placeholder,
.nav-content-right #search-box #search-content textarea:-ms-input-placeholder {
  color: #999;
}

.nav-content-right #search-box #search-content button {
  height: 54px;
  width: 100px;
  line-height: 54px;
  font-size: 20px;
  color: #fff;
  background-color: #8fc320;
}

.nav-content-right #search-box #search-content #search-choose {
  position: absolute;
  left: -1px;
  top: 56px;
  width: 168px;
  font-size: 18px;
  z-index: 1000;
  color: #999;
  border: 1px solid #dcdcdc;
  text-align: center;
  display: none;
}

.nav-content-right #search-box #search-content #search-choose .sc-li {
  line-height: 36px;
  height: 36px;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.nav-content-right #search-box #search-content #search-choose .sc-li:hover {
  background-color: #dcdcdc;
}

#divfooter {
  height: 315px;
  overflow: hidden;
  width: 100%;
}

#footer-box {
  width: 100%;
  background-color: #3a3a38;
  padding: 20px 0 0 0;
  color: #d5d6d3;
  overflow: hidden;
}

#footer {
  margin-left: 20px;
}

#footer > li {
  width: 210px;
}

#footer > li > h4 {
  font-size: 18px;
  height: 26px;
  line-height: 26px;
  padding-left: 20px;
  border-left: 3px solid #81a93c;
  margin-bottom: 20px;
}

#footer > li > ul {
  height: 30px;
  padding-left: 20px;
  line-height: 30px;
  font-size: 12px;
}

#footer > li > ul > li {
  overflow: hidden;
}

#footer > li > ul > li a {
  color: #d5d6d3;
}

#footer > li > ul > li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#footer > li:last-child {
  width: 250px;
}

#footer > li > ul > li > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#attention {
  width: 200px;
  margin-left: 30px;
  position: relative;
}

#attention .attention-bottom {
  width: 100%;
  height: 160px;
}

#attention .attention-bottom > img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.footer-ft {
  width: 100%;
  height: 32px;
  text-align: center;
  line-height: 32px;
  padding: 30px 0;
  color: #d5d6d3;
  font-size: 14px;
}

.footer-ft a {
  color: #d5d6d3;
}

#tc-box {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  border: 1px solid #999;
  display: none;
}

#tc-box #tc {
  width: 300px;
  height: 170px;
  background-color: #fff;
  margin: 200px auto;
  position: relative;
  text-align: center;
  padding: 30px 15px 0 15px;
  border: 1px solid #999;
  box-shadow: 0 0 10px #999;
  border-radius: 6px;
  font-size: 16px;
}

#tc-box #tc span {
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #000;
}

#tc-box #tc p {
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#tc-box #tc b {
  display: block;
  width: 50px;
  margin: 0 auto;
  padding: 5px;
  line-height: 24px;
  border: 1px solid #3879d9;
  border-radius: 6px;
  background-color: #3879d9;
  color: #fff;
}

#tc-box #tc .close:hover {
  cursor: pointer;
}

#banner {
  width: 100%;
  max-width: 1360px;
  height: 524px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 900;
}

#banner-content {
  height: 100%;
}

#banner-content .banner-li {
  height: 100%;
}

#banner-content .banner-li a {
  display: block;
}

#banner-content .banner-li a .banner-img {
  display: block;
  height: 524px;
  width: 100%;
}

#banner-swicth-ul {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 990;
}

#banner-swicth-ul .banner-swicth-li {
  margin: 0 5px;
}

#banner-swicth-ul .banner-swicth-li .banner-list-checked {
  width: 50px;
  border-radius: 10px;
  background-color: #393a38;
}

#banner-swicth-ul .banner-swicth-li i {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #075279;
  background-color: #fff;
}

.switchClick {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  z-index: 990;
  margin-top: -40px;
  border-radius: 50%;
  display: none;
}

#banner:hover .switchClick {
  display: block;
}

#banner-swicth-left {
  left: 120px;
  background: url(/images/left.png) no-repeat center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#banner-swicth-right {
  right: 120px;
  background: url(/images/right.png) no-repeat center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
