#index-box,
.nav-first,
.search {
    display: none;
}

.nav-content-right #search-box {
    display: block;
    right: 0;
}

.men-nav-box {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    background-color: #353535;
    .men-nav-li {
        width: 200px;
        height: 100%;
        position: relative;
        color: #fff;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        /* Firefox 4 */
        -webkit-transition: all 0.2s;
        /* Safari 和 Chrome */
        -o-transition: all 0.2s;
        /* Opera */
        a {
            display: block;
            width: 100%;
            height: 100%;
            color: #fff;
        }
        .men-li-sec {
            padding: 20px;
            position: absolute;
            left: -50px;
            top: 70px;
            display: none;
            z-index: 1000;
            background-color: #fff;
            img {
                width: 130px;
                height: 130px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .member-sec {
            width: 255px;
            line-height: 30px;
            color: #000;
            border: 1px solid #d2d2d2;
            .nickname,
            .wel {
                font-size: 14px;
            }
            .acc-id {
                font-size: 12px;
            }
            .integral {
                font-size: 14px;
                line-height: 54px;
                padding: 0 15px;
                border-top: 1px solid #8fc320;
                i {
                    width: 14px;
                    height: 20px;
                    margin-top: 17px;
                    background: url(/images/integral.png)no-repeat center;
                    background-size: 100%;
                    margin-right: 10px;
                }
                p {
                    margin-right: 10px;
                    width: 90px;
                }
                span {
                    width: 100px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .men-nav-li:hover {
        height: 70px;
        line-height: 70px;
        margin-top: -20px;
        font-size: 18px;
        background: url(/images/member_03.png)no-repeat center;
        background-size: 100%;
    }
    .men-nav-li:hover .men-li-sec {
        display: block;
    }
}

.main-box {
    margin-bottom: 60px;
}

.main {
    width: 850px;
    margin: 0 auto;
    padding: 20px 0;
    .person {
        padding-bottom: 20px;
        border-bottom: 1px solid #d2d2d2;
        .person-img {
            width: 130px;
            height: 130px;
            margin-right: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .person-info {
            line-height: 34px;
            h4 {
                font-size: 18px;
            }
            .per-id {
                font-size: 12px;
            }
            .per-inte {
                font-size: 14px;
                line-height: 54px;
                i {
                    width: 14px;
                    height: 20px;
                    margin-top: 17px;
                    background: url(/images/integral.png)no-repeat center;
                    background-size: 100%;
                    margin-right: 10px;
                }
                p {
                    margin-right: 30px;
                    width: 90px;
                }
                span {
                    width: 100px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .info-revamp {
        box-sizing: border-box;
        border: 2px solid #d2d2d2;
        width: 850px;
        margin-top: 30px;
        .ir-title {
            height: 40px;
            line-height: 40px;
            margin-bottom: 30px;
            span {
                display: block;
                width: 180px;
                height: 100%;
                color: #fff;
                text-indent: 2rem;
                background: url(/images/info_bg.png)no-repeat center;
                background-size: 100%;
            }
        }
        .address {
            padding: 0 15px;
            color: #333;
            margin-bottom: 40px;
            .add-t {
                line-height: 14px;
                font-size: 12px;
                margin-bottom: 20px;
                p {
                    span {
                        color: #8fc320;
                    }
                }
                .at-new {
                    span {
                        margin-right: 5px;
                    }
                }
            }
            .add-ul {
                .add-li {
                    line-height: 36px;
                    font-size: 18px;
                    margin-bottom: 25px;
                    p {
                        span {
                            width: 120px;
                        }
                        input {
                            margin-left: 10px;
                            height: 36px;
                            width: 190px;
                            border: 1px solid #d2d2d2;
                            padding: 0 10px;
                            font-size: 14px;
                        }
                    }
                }
                .city {
                    input {
                        width: 120px;
                        text-align: center;
                    }
                }
                .detail {
                    textarea {
                        margin-left: 10px;
                        padding: 10px;
                        font-size: 18px;
                        border: 1px solid #d2d2d2;
                        line-height: 36px;
                        resize: none;
                    }
                }
                .people-message {
                    p {
                        margin-right: 20px;
                        input {
                            width: 140px;
                        }
                    }
                }
                .addsub {
                    button {
                        height: 36px;
                        width: 120px;
                        margin-left: 130px;
                        color: #fff;
                        background-color: #8fc320;
                        border-radius: 8px;
                    }
                }
            }
        }
        .have-add {
            color: #8fc320;
            font-size: 12px;
            line-height: 30px;
            margin-bottom: 40px;
            .ha-mes {
                padding: 0 15px;
            }
            .have-add-t,
            .have-add-sec {
                width: 100%;
                font-size: 14px;
            }
            .have-add-t {
                line-height: 36px;
                height: 36px;
                color: #333;
                background-color: #eee;
                text-align: center;
                li {
                    height: 36px;
                    padding: 0 5px;
                }
            }
            .have-add-sec {
                li {
                    line-height: 16px;
                    padding: 10px 0;
                    text-align: center;
                    color: #666;
                    border-bottom: 1px solid #d2d2d2;
                    div {
                        padding: 0 5px;
                        textarea {
                            width: 100%;
                            text-align: center;
                            resize: none;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}

// 收货地址列表
.has-person-box,
.has-person {
    width: 60px;
}

.has-region-box,
.has-region {
    width: 170px;
}

.has-detailed-address-box,
.has-detailed-address {
    width: 210px;
}

.has-postcode-box,
.has-postcode {
    width: 60px;
}

.has-tel-box,
.has-tel {
    width: 100px;
}

.has-op-box,
.has-op {
    width: 80px;
    padding: 0 5px;
}

.has-mr-box,
.has-mr {
    width: 95px;
}

.has-op {
    padding-left: 15px;
    .has-op-aff,
    .has-op-c {
        width: 100%;
        i {
            width: 1px;
            height: 14px;
            background-color: #666;
            margin: 0 10px;
            margin-top: 1px;
        }
        span {
            color: blue;
        }
    }
    .has-op-aff {
        display: none;
    }
}

.has-mr {
    font-size: 12px;
    color: red;
    span {
        padding: 3px 7px;
        border: 1px solid red;
        background-color: #eee;
        border-radius: 4px;
    }
}

// ----地区选择-------
.cityselect-content {
    text-indent: 4rem;
}

// ------------------