.nav-first>li:nth-of-type(3)>a {
    color: #a6ce60;
}

#now-add {
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    padding: 16px 0 30px 0;
    color: #898a89;
    p {
        text-align: left;
        i {
            display: inline-block;
            width: 20px;
            height: 18px;
            background: url(/images/index_03.png)no-repeat center;
            background-size: 100%;
        }
        a {
            color: #898a89;
        }
    }
}

#product-box {
    padding: 0 0 50px 5px;
    #product-left {
        width: 400px;
        height: 100%;
        #product-left-big {
            box-sizing: border-box;
            height: 400px;
            width: 400px;
            border: 1px solid #e4e4e4;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            #pro-fd {
                width: 100%;
                height: 100%;
                border: 1px solid #a6ce60;
                position: absolute;
                right: -420px;
                top: 0;
                z-index: 1000;
                background: url(/images/product/product_03.png)no-repeat;
                background-size: 200%;
                background-color: pink;
                display: none;
            }
            #fdj {
                width: 50%;
                height: 50%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 999;
                background: url(/images/d.png) repeat center;
                opacity: 0.8;
                border: 1px solid transparent;
                display: none;
            }
        }
        #product-left-small {
            width: 100%;
            height: 85px;
            margin-top: 20px;
            li {
                box-sizing: border-box;
                width: 85px;
                height: 100%;
                margin-left: 20px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                i {
                    display: block;
                    width: 18px;
                    height: 10px;
                    background: url(/images/check_icon.png)no-repeat center;
                    background-size: 100%;
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    margin-left: -9px;
                    display: none;
                }
                .check_icon {
                    display: none;
                }
            }
            .checked {
                border: 1px solid red;
                i {
                    display: block;
                }
            }
        }
        .share-collect {
            line-height: 50px;
            font-size: 16px;
            color: #898a89;
            .shareinp,
            .collect {
                i {
                    width: 16px;
                    height: 16px;
                    margin-top: 17px;
                    margin-left: 20px;
                }
                span {
                    padding: 0 10px;
                }
            }
            .shareinp {
                i {
                    background: url(/images/share.png)no-repeat center;
                    background-size: 100%;
                }
            }
            .collect {
                i {
                    background: url(/images/collect.png)no-repeat center;
                    background-size: 100%;
                }
            }
            p:hover {
                cursor: pointer;
            }
        }
    }
    #product-right {
        width: 635px;
        height: 100%;
        padding-left: 65px;
        padding-right: 100px;
        #product-title {
            font-size: 24px;
            line-height: 40px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #product-introduce {
            font-size: 14px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #price-box {
            width: 500px;
            background-color: #eee;
            margin-top: 15px;
            li {
                line-height: 50px;
                height: 50px;
                padding-left: 20px;
                box-shadow: 0 0 1px #999;
            }
            #selling {
                position: relative;
                &>p {
                    span {
                        font-size: 16px;
                        color: #666;
                    }
                    i {
                        font-size: 20px;
                        font-style: normal;
                        color: red;
                        margin-left: 15px;
                    }
                }
                #original {
                    position: absolute;
                    right: 60px;
                    top: 0;
                    &>p {
                        font-size: 16px;
                        color: #000;
                        s {
                            margin-left: 20px;
                        }
                    }
                }
            }
            #discounts {
                p {
                    font-size: 16px;
                    span {
                        color: #666;
                    }
                    i {
                        font-style: normal;
                        color: #000;
                        margin-left: 15px;
                    }
                }
            }
        }
        #order_delivery {
            font-size: 16px;
            color: #666;
            padding-left: 15px;
            padding-bottom: 25px;
            border-bottom: 1px solid #dcdcdc;
            #delivery-details {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                li {
                    line-height: 38px;
                }
                .chooseadd {
                    p {
                        span {
                            color: #000;
                            margin: 0 5px;
                        }
                        b {
                            margin-right: 10px;
                        }
                    }
                }
                .discounts {
                    color: #000;
                }
            }
            #delivery {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                .delivery-star {
                    color: red;
                    margin: 0 5px;
                }
                .delivery-addr {
                    color: #000;
                    margin: 0 5px;
                }
            }
        }
    }
}

.product-size {
    font-size: 16px;
    color: #666;
    padding: 15px;
    line-height: 40px;
    .choose-size {
        .size:hover {
            cursor: pointer;
        }
        .size {
            height: 40px;
            text-align: center;
            display: inline-block;
            border: 1px solid #dcdcdc;
            width: 98px;
            height: 38px;
            margin-right: 15px;
            position: relative;
            -webkit-user-select: none;
            user-select: none;
            .c-size:after {
                content: "√";
                display: inline-block;
                text-align: center;
                font-size: 12px;
                width: 12px;
                height: 12px;
                color: #fff;
                line-height: 12px;
                background-color: #62b900;
                font-weight: bold;
                border-radius: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    .choose-num {
        line-height: 36px;
        height: 36px;
        color: #000;
        margin: 15px 0;
        p {
            height: 36px;
            b {
                margin-right: 20px;
            }
            .amnum {
                text-align: center;
                font-size: 20px;
                width: 34px;
                height: 34px;
                border: 1px solid #f3f3f3;
                -webkit-user-select: none;
                user-select: none;
            }
            .amnum:hover {
                cursor: pointer;
            }
            .cnum {
                color: #fff;
                background-color: red;
                border: 1px solid red;
            }
            input {
                width: 60px;
                height: 34px;
                text-align: center;
                border-top: 1px solid #f3f3f3;
                border-bottom: 1px solid #f3f3f3;
            }
        }
    }
    .material {
        p {
            b {
                color: #000;
            }
        }
    }
}

.sub {
    text-align: center;
    margin-top: 20px;
    button {
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding: 0 20px;
        background-color: #b0c400;
        border-radius: 6px;
        margin: 0 20px;
    }
    button:hover {
        cursor: pointer;
    }
    .car {
        i {
            width: 36px;
            height: 36px;
            margin-top: 7px;
            margin-right: 5px;
            background: url(/images/sc/car_03.png)no-repeat center;
            background-size: 100%;
        }
    }
}

.sc-hint {
    width: 280px;
    height: 160px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -140px;
    margin-top: -80px;
    background-color: #fff;
    box-shadow: 0 0 10px #a6ce60;
    border-radius: 8px;
    line-height: 30px;
    padding: 50px 15px;
    font-size: 18px;
    color: #b0c400;
    text-align: center;
    display: none;
}

.pro-int-ul {
    background-color: #eee;
    border-bottom: 1px solid red;
    li {
        text-align: center;
        height: 48px;
        line-height: 48px;
        padding: 0 80px;
        -webkit-user-select: none;
        user-select: none;
    }
    li:hover {
        cursor: pointer;
    }
    .pro-c-li {
        background-color: red;
        color: #fff;
    }
    .app {
        i {
            font-style: normal;
        }
    }
}

.pro-int-sec {
    width: 750px;
    padding: 15px 0;
    display: none;
}

.pro-int-dis {
    display: block;
}

.part-sec {
    img {
        display: block;
        max-width: 750px;
        margin: 5px auto;
    }
}

.spe-sec {
    table {
        margin: 60px auto;
        border: 1px solid #dcdcdc;
        tbody {
            tr {
                display: block;
                height: 40px;
                line-height: 40px;
                .cla {
                    width: 190px;
                    height: 100%;
                    padding-left: 20px;
                    border: 1px solid #dcdcdc;
                }
                .cont {
                    width: 540px;
                    height: 100%;
                    padding-left: 50px;
                    border: 1px solid #dcdcdc;
                }
            }
        }
    }
}

.as-sec {
    width: 710px;
    margin: 0 auto;
    li {
        margin: 40px 0;
        h4 {
            line-height: 50px;
            font-size: 24px;
            color: red;
        }
        div {
            line-height: 30px;
            font-size: 18px;
            color: #666;
        }
    }
    .seller-cont {
        position: relative;
        padding-left: 60px;
        i {
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            left: 0px;
            top: 0;
        }
    }
    .seller-service {
        i {
            background: url(/images/sell_03.png)no-repeat center;
            background-size: 95%;
        }
    }
    .seller-promise {
        i {
            background: url(/images/sell_06.png)no-repeat center;
            background-size: 95%;
        }
    }
    .pu-ex {
        i {
            background: url(/images/sell_08.png)no-repeat center;
            background-size: 95%;
        }
        .explain {
            h5 {
                font-size: 20px;
                color: red;
                margin: 15px 0;
            }
        }
    }
}

.app-sec {
    .degree {
        padding: 0 40px;
        p {
            font-size: 24px;
            line-height: 30px;
        }
        h3 {
            font-size: 32px;
            line-height: 50px;
            color: red;
            padding-left: 20px;
        }
    }
    .comment-box {
        margin-top: 10px;
        height: 50px;
        line-height: 50px;
        background-color: #eee;
        padding: 0 40px;
        font-size: 16px;
        .comment-ul {
            li {
                margin: 0 15px;
                -webkit-user-select: none;
                user-select: none;
            }
            li:hover {
                cursor: pointer;
            }
            .com-c {
                color: red;
            }
        }
        .comment-sort {
            i {
                width: 16px;
                height: 16px;
                margin-top: 17px;
                margin-left: 5px;
                background: url(/images/down.png)no-repeat center;
                background-size: 100%;
            }
        }
    }
}

.comment {
    margin-bottom: 30px;
    .com-li {
        border-bottom: 1px solid #333;
        padding: 30px 0;
        position: relative;
        .com-img {
            width: 140px;
            text-align: center;
            font-size: 18px;
            img {
                margin: auto;
                line-height: 32px;
            }
            p {
                font-size: 14px;
                line-height: 24px;
            }
        }
        .com-con {
            width: 440px;
            padding-right: 170px;
            .com-star {
                height: 20px;
                width: 136px;
            }
            .zero-star {
                background: url(/images/p_bg.png)no-repeat 0px 0px;
                background-size: 100%;
            }
            .one-star {
                background: url(/images/p_bg.png)no-repeat 0px -33px;
                background-size: 100%;
            }
            .tow-star {
                background: url(/images/p_bg.png)no-repeat 0px -66px;
                background-size: 100%;
            }
            .three-star {
                background: url(/images/p_bg.png)no-repeat 0px -99px;
                background-size: 100%;
            }
            .four-star {
                background: url(/images/p_bg.png)no-repeat 0px -132px;
                background-size: 100%;
            }
            .five-star {
                background: url(/images/p_bg.png)no-repeat 0px -165px;
                background-size: 100%;
            }
            .com-sec {
                margin: 20px 0;
                font-size: 14px;
                color: #333;
            }
            .com-det {
                color: #858585;
                span {
                    margin-right: 50px;
                }
            }
            .dis-img {
                width: 500px;
                li {
                    width: 100px;
                    height: 90px;
                    margin: 15px 10px;
                    img {
                        width: 100%;
                        height: 90px;
                    }
                }
            }
            .com-add-sec {
                padding: 10px 0;
                h4 {
                    font-size: 16px;
                    color: #858585;
                    line-height: 30px;
                }
                p {
                    font-size: 14px;
                    color: #333;
                }
            }
        }
        .like {
            width: 140px;
            font-size: 14px;
            position: absolute;
            right: 0px;
            top: 50%;
            p {
                height: 30px;
                line-height: 30px;
                color: #c4c4c4;
                margin-left: 40px;
                i {
                    width: 16px;
                    height: 16px;
                    margin-top: 7px;
                    margin-right: 5px;
                    background: url(/images/like.png)no-repeat center;
                    background-size: 100%;
                }
            }
        }
    }
}