.nav-first>li:nth-of-type(3)>a {
    color: #a6ce60;
}

#now-add {
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    margin: 36px auto;
    color: #898a89;
    p {
        display: inline-block;
        text-align: right;
        i {
            display: inline-block;
            width: 20px;
            height: 18px;
            background: url(/images/index_03.png)no-repeat center;
            background-size: 100%;
        }
        a {
            color: #898a89;
        }
    }
}

#peatured-product {
    width: 100%;
    .product-title {
        height: 56px;
        width: 100%;
        margin-bottom: 30px;
    }
}

.product-box {
    min-height: 640px;
    width: 940px;
    margin: 0 auto;
    margin-bottom: 60px !important;
    .product-bg {
        position: relative;
        background-color: #b0c400;
        .product-content {
            box-sizing: border-box;
            position: absolute;
            left: -26px;
            top: 26px;
            width: 940px;
            background-color: #f7f7f5;
            box-shadow: 0 0 20px #999;
            padding: 45px;
            color: #000;
        }
    }
}

.product-part-one-title {
    background: url(/images/peatured.png)no-repeat center;
    background-size: 70%;
}

.product-part-two-title {
    background: url(/images/featured.png)no-repeat center;
    background-size: 70%;
}

.product-content-one-left {
    width: 410px;
    height: 100%;
    margin-right: 70px;
    position: relative;
    .product-content-one-left-top {
        width: 100%;
        height: 330px;
        background: url(/images/timg.png)no-repeat center;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 990;
    }
    .product-content-one-left-br {
        width: 336px;
        height: 336px;
        border: 1px solid #fff;
        border-bottom: none;
        position: absolute;
        left: 36px;
        top: 36px;
        z-index: 991;
    }
    .product-content-one-left-bottom {
        width: 360px;
        height: 280px;
        background: url(/images/product_03.png) no-repeat center;
        background-size: 100%;
        position: absolute;
        left: 25px;
        top: 120px;
        z-index: 992;
    }
}

.product-content-one-rigth {
    width: 420px;
    height: 100%;
    .product-content-one-rigth-top {
        margin: 80px 0 60px 0;
        h4 {
            font-size: 30px;
            line-height: 60px;
        }
        span {
            display: inline-block;
            padding-right: 20px;
            font-size: 26px;
            line-height: 55px;
            color: #41413f;
            border-bottom: 1px solid #414141;
        }
    }
    .product-content-one-rigth-bottom {
        &>p {
            font-size: 18px;
            margin-bottom: 24px;
        }
        .product-content-one-buy {
            border: 1px solid #ff0505;
            line-height: 48px;
            height: 50px;
            display: inline-block;
            p {
                font-size: 20px;
                padding: 0 20px;
                span {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            button {
                font-size: 28px;
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                color: #fff;
                background-color: #ff0505;
            }
        }
    }
}

.product-part-two {
    .product-part-two-content-box {
        display: block;
        width: 50%;
        overflow: hidden;
        box-sizing: border-box;
        height: 100%;
        text-align: center;
        color: #000;
        .product-part-two-content-img {
            width: 100%;
            height: 380px;
            background: url(/images/product_03.png)no-repeat center;
            background-size: 70%;
        }
        .product-part-two-content-int {
            h4 {
                font-size: 32px;
                line-height: 32px;
                padding-bottom: 18px;
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid #000;
            }
            &>p {
                font-size: 16px;
                line-height: 48px;
            }
            .product-part-two-content-buy {
                display: inline-block;
                line-height: 36px;
                border: 1px solid #ff0505;
                p {
                    font-size: 12px;
                    padding: 0 15px;
                    span {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                button {
                    padding: 0 15px;
                    font-size: 16px;
                    color: #fff;
                    height: 38px;
                    line-height: 38px;
                    background-color: #ff0505;
                }
            }
        }
    }
    .product-part-two-content-box:nth-of-type(1) {
        border-right: 1px solid #000;
    }
    .product-part-two-content-box:nth-of-type(2) {
        border-left: 1px solid #000;
    }
}

.buy_now:hover {
    cursor: pointer;
}