@font-face {
    font-family: Msyh;
    src: url(/font/msyh.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", Msyh;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    cursor: pointer;
}

img {
    border: none;
    display: block;
}

input,
button,
textarea {
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}

ul,
ol {
    list-style: none;
}

.y-width {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

// .y-clearfix {
//     overflow: hidden;
// }
.y-clearfix::before,
.y-clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.y-left {
    float: left;
}

.y-right {
    float: right;
}

.y-ws {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}