.nav {
  width: 100%;
  height: 140px;
  line-height: 140px;
}

.nav .nav-content-left a {
  display: block;
}

.nav .nav-content-left a img {
  width: 100%;
  margin-top: 10px;
}

.nav .nav-content-right {
  line-height: 105px;
  padding-top: 35px;
  height: 105px;
}

.nav .nav-content-right a {
  display: block;
  height: 24px;
  line-height: 24px;
  color: #666;
  padding: 40.5px 0;
}

.nav .nav-content-right a i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: url(./../images/index_03.png) no-repeat center;
  background-size: 100%;
}

#sign-box {
  width: 100%;
  height: 395px;
  background: url(./../images/sign_bg.png) no-repeat center;
  background-size: 100%;
  padding: 65px 0;
}

#sign {
  height: 100%;
  overflow: hidden;
}

#sign .sign-content {
  height: 350px;
  width: 350px;
  background-color: #fff;
  padding: 25px 35px;
  color: #9595aa;
}

#sign .sign-content > h4 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
}

#sign .sign-content > ul {
  font-size: 18px;
  text-align: center;
  position: relative;
}

#sign .sign-content > ul > li {
  width: 50%;
  line-height: 24px;
}

#sign .sign-content > ul > li > span {
  display: block;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
}

#sign .sign-content > ul > li > span:hover {
  cursor: pointer;
}

.sign-way {
  border-bottom: 2px solid #61b14e;
}

.sign-way-section {
  position: absolute;
  left: 35px;
  top: 35px;
  width: 270px;
  box-sizing: border-box;
  display: none;
}

.sign-way-section li {
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin-bottom: 15px;
  overflow: hidden;
}

.sign-way-section li .signinp-box {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border: 2px solid #9595aa;
  border-radius: 6px;
}

.sign-way-section li .signinp-box input {
  display: block;
  width: 100%;
  height: 14px;
  margin: 17px 0;
}

.sign-way-section li .authCode {
  width: 160px;
  height: 100%;
  margin-right: 10px;
}

.sign-way-section li .aCbox {
  width: 100px;
  font-size: 14px;
}

.sign-way-section li .aCbox:hover {
  cursor: pointer;
}

.sign-way-section li .aCbox span {
  display: block;
  width: 98px;
  height: 48px;
  border: 1px solid #999;
  border-radius: 8px;
  color: #666;
}

.sign-way-section .rememberme {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}

.sign-way-section .rememberme .rememberme-content {
  padding: 0 5px;
  width: 100%;
}

.sign-way-section .rememberme .rememberme-content .rememberme-content-left input {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  border: none;
}

.sign-way-section .signinp {
  margin-bottom: 0;
}

.sign-way-section .signinp button {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-size: 22px;
  color: #fff;
  background-color: #61b14e;
}

.sign-way-section .signinp button:hover {
  cursor: pointer;
}

.sign-way-section .login-box {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}

.sign-way-section .login-box a {
  color: #61b14e;
}

#sign-other .sign-way-section {
  display: none;
}

#sign-other > div > img {
  width: 100%;
  height: 270px;
  background-color: #61b14e;
}
