/* 个人中心 */

.personCenter.msg-dis {
    padding: .3rem .6rem .3rem .3rem;
    background: url(./../img/more_l.png)no-repeat 7rem 50%;
    background-size: 3%;
    background-color: #fff;
}

.personCenter.msg-dis.personMsg {
    margin-bottom: .7rem;
}

.personCenter.msg-dis:nth-of-type(2) .icon {
    background: url(./../img/person_center_1.png)no-repeat center;
    background-size: 100%;
}

.personCenter.msg-dis:nth-of-type(3) .icon {
    background: url(./../img/person_center_2.png)no-repeat center;
    background-size: 100%;
}

.personCenter.msg-dis:nth-of-type(4) .icon {
    background: url(./../img/person_center_3.png)no-repeat center;
    background-size: 100%;
}

.personCenter.msg-dis:nth-of-type(5) .icon {
    background: url(./../img/person_center_4.png)no-repeat center;
    background-size: 100%;
}

.personCenter.msg-dis:nth-of-type(6) .icon {
    background: url(./../img/person_center_5.png)no-repeat center;
    background-size: 100%;
}

.personCenter.msg-dis:nth-of-type(6) {
    margin-bottom: 1.1rem;
}


/* 购买记录 */

.buyRecordLi {
    margin-bottom: .2rem;
}

.buyRecordLi .part1 {
    margin-bottom: .02rem;
    padding: .2rem .3rem;
    background-color: #fff;
    overflow: hidden;
}

.buyRecordLi .part2 {
    background-color: #fff;
    line-height: .88rem;
    padding: 0 .3rem;
    font-size: .24rem;
    overflow: hidden;
}

.buyRecordLi .part1 .cover,
.buyRecordLi .part2 .price,
.buyRecordLi .part1 .content {
    float: left;
}

.buyRecordLi .part2 .time {
    float: right;
}

.buyRecordLi .part1 .cover {
    width: 2rem;
    height: 1.4rem;
    margin-right: .2rem;
}

.buyRecordLi .part1 .content .title {
    font-size: .3rem;
    margin: .1rem 0 .2rem 0;
}

.buyRecordLi .part1 .content .short {
    line-height: .3rem;
    font-size: .24rem;
    color: #999;
}

.buyRecordLi .part2 .price span {
    color: red;
    font-size: .28rem;
}

.buyRecordLi .part2 .time {
    color: #999;
}


/* 我的视频 */

.myVideoList .headline {
    float: left;
    width: 50%;
}


/* .myVideoList {
    position: relative;
}

.myVideoList .type {
    float: left;
    line-height: .88rem;
    width: 3.75rem;
    background-color: #fff;
}

.myVideoList .headline {
    text-align: center;
}

.myVideoList .headline span {
    padding: .2rem .1rem;
}

.myVideoList .type.check .headline span {
    border-bottom: .02rem solid #b62b30;
    color: #b62b30;
}

.myVideoList .content {
    position: absolute;
    left: 0;
    top: 1.1rem;
    width: 7.5rem;
    margin-bottom: 1.1rem;
    display: none;
}

.myVideoList .type.check .content {
    display: block;
}

.myVideoList .content.check .videoList .li .del {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    margin-left: 0;
}

.myVideoList .content.check .videoList .li .secondContent {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    width: 4.5rem;
}

.myVideoList .bt-op {
    display: none;
}

.myVideoList .bt-op .bOp-l {
    padding: .31rem 0;
    line-height: .36rem;
}

.myVideoList .bt-op .bOp-l input {
    float: left;
    margin-left: 20%;
    margin-right: .2rem;
}

.myVideoList .bt-op .bOp-l label {
    float: left;
}

.myVideoList .bt-op .bOp-r {
    line-height: .98rem;
    background-color: red;
    color: #fff;
} */


/* 我的收藏 */

.myCollect .li {
    margin-bottom: .2rem;
}

.myCollect .cancelCollect {
    float: left;
    margin-top: .2rem;
    padding-top: .2rem;
    width: 100%;
    height: .52rem;
    line-height: .32rem;
    border-top: .02rem solid #eee;
    overflow: hidden;
}

.myCollect .cancelCollect span {
    float: right;
    padding-left: .32rem;
    height: .32rem;
    background: url(./../img/cancel.png)no-repeat 0 center;
    background-size: 20%;
}


/* 再生障碍性贫血 */

.disease_knowledge_banner {
    height: 3.6rem;
    margin-bottom: .1rem;
}

.disease_knowledge_banner img {
    width: 100%;
    height: 100%;
}

.disease_knowledge {
    padding: .2rem;
}

.disease_knowledge .list {
    overflow: hidden;
}

.disease_knowledge .list .li {
    float: left;
    width: 3.4rem;
    height: 2.2rem;
    margin-top: .3rem;
}

.disease_knowledge .list .li a {
    display: block;
    height: 100%;
    color: #fff;
    position: relative;
}

.disease_knowledge .list .li .subtitle {
    width: 100%;
    line-height: .4rem;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
}

.disease_knowledge .list .li a .photo {
    width: 100%;
    height: 100%;
}

.disease_knowledge .list .li:nth-of-type(2n+1) {
    margin-right: .3rem;
}


/* 日常保健 */

.dailyCare .videoList .li .secondContent .optionMsg p>.icon {
    background: url(./../img/browse.png)no-repeat center;
    background-size: 90%;
}

.dailyCare .listType .headline {
    width: 2.5rem;
}


/* 其他 */

.others.videoList .li .secondContent .optionMsg p>.icon {
    background: url(./../img/browse.png)no-repeat center;
    background-size: 90%;
}


/* 疾病简介 */

.diseaseMain {
    padding: .2rem;
    background-color: #fff;
    text-indent: 2em;
}

.diseaseMain .title {
    text-align: center;
    font-size: .32rem;
    margin: .2rem 0 .4rem 0;
}

.diseaseMain .leftLine {
    font-size: .32rem;
}

.diseaseMain img {
    display: block;
    max-width: 7.1rem;
    margin: .1rem auto;
}


/* 文章详情 */

.articleMain {
    background-color: #fff;
    padding: .2rem;
}

.articleMain .title {
    font-size: .32rem;
    margin: .1rem 0 .2rem 0;
}

.articleMain .time {
    font-size: .24rem;
    color: #999;
    margin-bottom: .2rem;
}

.articleMain .content * {
    text-indent: 2em;
}

.articleMain .content img {
    display: block;
    max-width: 7.1rem;
    margin: .1rem auto;
}

.articleMain .option {
    color: #868585;
    margin: .4rem 0 .2rem 0;
}

.articleMain .option .likeIt {
    margin-left: .2rem;
    padding-left: .4rem;
    background: url(./../img/collect.png)no-repeat 0 center;
    background-size: 35%;
}

.articleMain .option .likeIt.check {
    background: url(./../img/collect_on.png)no-repeat 0 center;
    background-size: 35%;
}


/* 在线视频 */

.vTap {
    margin-bottom: 1.1rem;
}

.vTap .searchtype1 {
    padding: .2rem;
}

.vTap .searchtype1 .search {
    width: 100%;
    height: .6rem;
    border-radius: .3rem;
    overflow: hidden;
    background-color: #eee;
}

.vTap .searchtype1 .search .searchInp {
    width: 6rem;
    height: .6rem;
    line-height: .6rem;
    padding: 0 .3rem;
    border-radius: .3rem 0 0 .3rem;
}

.vTap .searchtype1 .search .searchBtn {
    width: 1.1rem;
    height: .3rem;
    line-height: .3rem;
    margin: .15rem 0;
    text-align: left;
    font-size: .32rem;
    color: #999;
    background: url(./../img/search.png)no-repeat center;
    background-size: 29%;
    /* border-left: .02rem solid #666; */
}

.vTap .classType {
    padding: 0 .2rem;
    padding-bottom: .2rem;
    overflow: hidden;
}

.vTap .classType .box {
    float: left;
    width: 6.5rem;
    overflow: hidden;
}

.vTap .classType .list {
    height: .56rem;
    line-height: .56rem;
}

.vTap .classType .box::-webkit-scrollbar {
    display: none;
}

.vTap .classType .li {
    float: left;
    text-align: center;
    width: 1.6rem;
}

.vTap .classType .li.check {
    color: #b62b30;
}

.vTap .alltype {
    float: left;
    width: .6rem;
    height: .56rem;
    text-align: center;
    position: relative;
}

.vTap .alltype .icon {
    display: block;
    width: .28rem;
    height: .28rem;
    margin: 0 auto;
    background: url(./../img/all.png)no-repeat center;
    background-size: 100%;
}

.vTap .alltype p {
    font-size: .18rem;
    color: #999;
}

.vTap .vTapBanner {
    width: 7.5rem;
    height: 3.5rem;
    padding: .2rem 0;
    overflow: hidden;
}

.vTap .vTapBanner .swiper-wrapper {
    width: 100%;
    height: 3.5rem;
}

.vTap .vTapBanner .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 3.5rem;
}

.vTap .vTapBanner .swiper-wrapper .swiper-slide a {
    display: block;
    height: 100%;
    position: relative;
}

.vTap .vTapBanner .swiper-wrapper .swiper-slide a .play {
    position: absolute;
    left: 0;
    top: 0;
    background-size: 20%;
}

.vTap .vTapBanner .swiper-wrapper .swiper-slide a img {
    width: 100%;
    height: 3.5rem;
}

.vTap .vTapHot .title {
    height: .8rem;
    line-height: .8rem;
    overflow: hidden;
    padding: 0 .2rem;
}

.vTap .vTapHot .title .icon {
    float: left;
    width: .35rem;
    height: .38rem;
    margin: .2rem 0;
    background: url(./../img/title_icon_1.png)no-repeat center;
    background-size: 100%;
}

.vTap .vTapHot .title .cont {
    float: left;
    margin-left: .1rem;
}

.vTap .vTapHot .title .more {
    float: right;
    font-size: .24rem;
    color: #777676;
}

.vTap .vTapHot .list {
    width: 7.5rem;
    padding: 0 .2rem;
    margin-top: .2rem;
    overflow: hidden;
}

.vTap .vTapHot .list .li {
    float: left;
    width: 3.4rem;
    height: 2.4rem;
    position: relative;
    margin-bottom: .2rem;
}

.vTap .vTapHot .list .li:nth-of-type(2n+1) {
    margin-right: .3rem;
}

.vTap .vTapHot .list .li a {
    display: block;
    height: 100%;
}

.vTap .vTapHot .list .li .photo {
    width: 100%;
    height: 100%;
}

.vTap .vTapHot .list .li .subtitle {
    position: absolute;
    left: 0;
    bottom: .2rem;
    font-size: .24rem;
    color: #fff;
    text-align: center;
}

.vTap .vTapHot .list .li .play {
    position: absolute;
    left: 0;
    top: 0;
    background-size: 20%;
}

.vTap .typeWindow {
    width: 0;
    height: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.vTap .typeWindow .title {
    padding: .3rem .2rem;
    text-align: center;
    position: relative;
}

.vTap .typeWindow .title .cancel {
    position: absolute;
    right: .2rem;
    top: .36rem;
    height: .26rem;
    width: .26rem;
    background: url(./../img/cancel_1.png)no-repeat center;
    background-size: 100%;
}

.vTap .typeWindow .typeDetails {
    overflow: hidden;
    padding: .2rem;
}

.vTap .typeWindow .typeDetailsli {
    float: left;
    height: .52rem;
    padding: 0 .2rem;
    margin: .1rem;
    background-color: #eee;
    color: #696868;
    border-radius: .1rem;
}


/* 视频列表 */

.videoList .videoList {
    margin-top: .1rem;
}


/* 视频详情 */

.videoDetails .playWindow {
    width: 7.5rem;
    height: 4rem;
    background-color: #fff;
    position: relative;
}

.videoDetails .playWindow video {
    display: block;
    width: 7.5rem;
    height: 4rem;
    object-fit: fill;
}

.videoDetails .playWindow .play {
    position: absolute;
    left: 0;
    top: 0;
    background-size: 20%;
}


/* 
.videoDetails .playWindow video::-webkit-media-controls-panel {
    background-color: rgba(250, 250, 250, 1);
}

.videoDetails .playWindow video::-webkit-media-controls-play-button {} */