body {
    background-color: #eee;
}


/* 抽奖 */

.layLottery {
    background: url(./../img/lottery_bg.jpg)no-repeat center;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 4rem;
}

.lotteryBox {
    padding: .2rem .5rem;
}

.lotteryBoxTit {
    color: #fff;
    font-size: .3rem;
    text-align: right;
    margin-bottom: .2rem;
}

.lotteryBoxCont {
    /* height: 4.4rem; */
    width: 6.5rem;
    color: #333;
}

.lotteryBoxCont table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
}

.lotteryBoxCont .draw {
    box-sizing: border-box;
    /* width: 100%;
    height: 100%; */
    margin: 0 auto;
}

.lotteryBoxCont .draw .item {
    width: 2rem;
    height: 1.3rem;
    padding: 0 .15rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, .4);
}

.lotteryBoxCont .draw .item.active {
    width: 2rem;
    height: 1.3rem;
    background-image: url(./../img/lotto_0.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
}

.lotteryBoxCont .draw .img {
    box-sizing: border-box;
    display: table-cell;
    width: 2rem;
    height: .6rem;
    padding: .1rem;
    vertical-align: middle;
    text-align: center;
}

.lotteryBoxCont .draw .img img {
    vertical-align: top;
    height: 100%;
}

.lotteryBoxCont .draw .gap {
    width: .05rem;
}

.lotteryBoxCont .draw .gap-2 {
    height: .05rem;
}

.lotteryBoxCont .draw .name {
    display: block;
    margin-top: .1rem;
    font-size: .22rem;
}

.lotteryBoxCont .draw .draw-btn {
    display: block;
    height: .8rem;
    line-height: .4rem;
    padding: .25rem 0;
    border-radius: .2rem;
    font-size: .25rem;
    font-weight: 700;
    text-decoration: none;
    background-image: url(./../img/lotto_0.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-shadow: .05rem .05rem .1rem rgba(0, 0, 0, .4);
}

.layui-m-layerchild {
    font-size: .24rem;
}

.layui-m-layer * {
    width: 7.5rem;
}

.layui-m-layercont .close {
    position: absolute;
    top: 0.1rem;
    width: .5rem;
    height: .5rem;
    right: .5rem;
    border-radius: 50%;
    background-image: url(./../img/del_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
}

.layui-m-layercont h1 {
    color: #e04538;
    position: absolute;
    top: 1.25rem;
    width: 2.32rem;
    left: 50%;
    margin-left: -1.11rem;
    text-align: center;
    font-size: .48rem;
    line-height: .56rem;
}

.layLotteryMsg {
    width: 7.1rem;
    height: 3.5rem;
    margin: .3rem auto;
    background-image: url(./../img/lotto_list.png);
    background-repeat: no-repeat;
    background-size: 101.5% 101.5%;
    border-radius: .2rem;
}

.layLotteryMsg .title {
    text-align: center;
    height: .71rem;
    line-height: .71rem;
    background-image: url(./../img/lotto_list_l.png), url(./../img/lotto_list_r.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 66% .25rem, 34% .25rem;
    background-size: 10%, 10%;
}

.layLotteryMsg .list {
    width: 100%;
    height: 2.72rem;
    overflow: hidden;
}

.layLotteryMsg .list .swiper-slide {
    box-sizing: border-box;
    height: .93rem;
    width: 100%;
    padding: .15rem .2rem;
}

.layLotteryMsg .list .photo {
    width: .63rem;
    height: 100%;
    border-radius: 50%;
    margin-right: .15rem;
}

.layLotteryMsg .list .cont {
    font-size: .24rem;
    line-height: .31rem;
}

.layLotteryMsg .list .msg span {
    color: #f8c830;
}

.layLotteryMsg .list .time {
    color: #999;
}

.lotteryBoxCont .info {
    width: 4.5rem;
    height: 3.7rem;
}

.cannotLottery .option a {
    display: inline-block;
    width: 50%;
    background-color: #fff;
}


/* 我的中奖纪录 */

.winRecLi {
    box-sizing: border-box;
    width: 7.5rem;
    height: 1.01rem;
    background-color: #fff;
    padding: .1rem .3rem;
    line-height: .8rem;
    font-size: .3rem;
    border-bottom: .01rem solid #eee;
}

.winRecLi .stateTime {
    line-height: .4rem;
}

.winRecLi .time {
    font-size: .24rem;
    color: #999;
}

.winRecLi .price {
    color: #ed9906;
}


/* 等级特权 */

.level_mian .level_introduce {
    width: 7.5rem;
    background: -moz-linear-gradient(top, #4e4857, #25222d);
    background: -webkit-linear-gradient(top, #4e4857, #25222d);
    background: -o-linear-gradient(top, #4e4857, #25222d);
    box-sizing: border-box;
    padding: .2rem .3rem;
}

.level_mian .level_bg {
    width: 100%;
    height: 1.91rem;
    background-image: url(./../img/level_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: .2rem;
}

.level_mian .level_rank {
    width: 100%;
    margin-top: .5rem;
    font-size: .22rem;
    padding-bottom: .7rem;
    position: relative;
}

.level_mian .level_rank_num {
    color: #fff;
    position: absolute;
    top: 1.5rem;
}

.level_mian .level_rank_num:nth-of-type(1) {
    left: 16%;
}

.level_mian .level_rank_num:nth-of-type(2) {
    left: 35%;
}

.level_mian .level_rank_num:nth-of-type(3) {
    left: 55%;
}

.level_mian .level_rank_num:nth-of-type(4) {
    left: 75%;
}

.level_mian .level_rank_li {
    width: 20%;
    text-align: center;
    color: #fff;
}

.level_mian .level_rank_bg {
    width: .53rem;
    height: .53rem;
    margin: 0 auto;
}

.level_mian .level_rank_tit {
    margin: .2rem 0;
}

.level_mian .level_rank_li:nth-child(1) .level_rank_bg {
    background-image: url(./../img/member_1_on.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: .2rem;
}

.level_mian .level_rank_li:nth-child(2) .level_rank_bg {
    background-image: url(./../img/member_2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: .2rem;
}

.level_mian .level_rank_li:nth-child(3) .level_rank_bg {
    background-image: url(./../img/member_3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: .2rem;
}

.level_mian .level_rank_li:nth-child(4) .level_rank_bg {
    background-image: url(./../img/member_4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: .2rem;
}

.level_mian .level_rank_li:nth-child(5) .level_rank_bg {
    background-image: url(./../img/member_5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: .2rem;
}

.level_mian .level_rank_line {
    width: 96%;
    height: .05rem;
    margin: 0 auto;
}

.level_mian .level_rank_li:nth-child(1) .level_rank_line {
    background-color: #d2cade;
}

.level_mian .level_rank_li:nth-child(2) .level_rank_line {
    background-color: #aea7b8;
}

.level_mian .level_rank_li:nth-child(3) .level_rank_line {
    background-color: #847c8f;
}

.level_mian .level_rank_li:nth-child(4) .level_rank_line {
    background-color: #67626f;
}

.level_mian .level_rank_li:nth-child(5) .level_rank_line {
    background-color: #534e60;
}

.level_mian .level_privileges {
    background-color: #fff;
    padding: .2rem .2rem 1rem .2rem;
}

.level_mian .level_privilegesTit {
    margin: .4rem 0;
    font-size: .3rem;
}

.level_mian .privilegesCont {
    text-align: center;
    color: #999;
    padding: .2rem;
}


/* 推广二维码 */

.popularizeCode {
    width: 5.6rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    color: #fff;
    font-size: .32rem;
}

.popularizeCode .qrCode {
    width: 100%;
    border-radius: .2rem;
    overflow: hidden;
}

.popularizeCode .qrCodeTit {
    line-height: 1rem;
    background-color: #37343f;
}

.popularizeCode .qrCodeCont {
    padding: 0 1rem;
    padding-bottom: .7rem;
    background-color: #fff;
}

.popularizeCode .qrCodeCont img {
    width: 3.6rem;
    height: 3.6rem;
    margin-top: .7rem;
}

.popularizeCode .qrCodeCont p {
    margin-top: .4rem;
    color: #333;
}

.popularizeCode button {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background-color: #37343f;
    color: #fff;
    margin-top: .7rem;
    border-radius: .2rem;
    font-size: .32rem;
}


/* 人员统计 */

.personnel_statistics .title {
    font-size: .32rem;
    line-height: .88rem;
    padding: 0 .2rem;
}

.personnel_statistics .list li {
    padding: 0 .3rem;
    background-color: #fff;
    margin-top: .1rem;
}

.personnel_statistics .personnel_msg,
.personnel_statistics .integral {
    box-sizing: border-box;
    height: .83rem;
    line-height: .83rem;
}

.personnel_statistics .personnel_msg {
    border-bottom: .02rem dashed #eee;
}

.personnel_statistics .personnel_msg .photo {
    width: .51rem;
    height: .51rem;
    margin: .16rem 0;
}

.personnel_statistics .personnel_msg .name {
    font-size: .34rem;
    margin-left: .2rem;
}

.personnel_statistics .personnel_msg .time {
    font-size: .24rem;
    color: #999;
}

.personnel_statistics .integral {
    font-size: .3rem;
}

.personnel_statistics .integralNum {
    color: #f39700;
}


/* 收益统计 */

.income_statistics .income_statistics .income_record .title {
    line-height: .8rem;
    font-size: .3rem;
    padding: 0 .2rem;
}

.income_statistics .income_list {
    margin-top: .1rem;
}

.income_statistics .income_list li {
    background-color: #fff;
    border-bottom: .01rem solid #eee;
    padding: .2rem;
    font-size: .3rem;
}

.income_statistics .income_list .time {
    font-size: .24rem;
    color: #999;
}

.income_statistics .income_list .number {
    color: #f39700;
}

.income_statistics .title {
    line-height: .8rem;
    padding: 0 .2rem;
    margin-bottom: .1rem;
}


/* 钱包 */

.wallet-tData1 .cont {
    color: #f8c830;
    font-size: .22rem;
    margin-left: .1rem;
}

.wallet-tData1 .cont span {
    font-size: .34rem;
}

.wallet-tData2 .cont {
    line-height: .88rem;
    color: #333;
    font-size: .28rem;
}

.wallet-tData2 .option {
    width: .42rem;
    height: .42rem;
    margin-top: .23rem;
    background-image: url(./../img/calendar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wallet-record .price {
    color: #333;
}

.wallet-filtrate {
    height: 5rem;
    width: 7.5rem;
    box-sizing: border-box;
    padding: .2rem .3rem;
    background-color: #fff;
    position: fixed;
    top: 4.5rem;
    left: 50%;
    margin-left: -3.75rem;
    display: none;
}

.wallet-filtrate .title {
    height: .8rem;
    width: 100%;
}

.wallet-filtrate .changType {
    box-sizing: border-box;
    height: .42rem;
    line-height: .4rem;
    margin: .18rem 0;
    padding-left: .2rem;
    padding-right: .7rem;
    font-size: .24rem;
    color: #999;
    border: .01rem solid #666;
    border-radius: .21rem;
    background: url(./../img/change.png)no-repeat 1.3rem .08rem;
    background-size: 18%;
    background-color: #f0eff6;
}

.wallet-filtrate .affirm {
    line-height: .8rem;
}

.wallet-filtrate .selType {
    height: 2.4rem;
    width: 1.4rem;
    margin: 0 auto;
    display: none;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.wallet-filtrate .line {
    height: .02rem;
    background-color: skyblue;
    position: absolute;
}

.wallet-filtrate .line1,
.wallet-filtrate .line2,
.wallet-filtrate .line3,
.wallet-filtrate .line4,
.wallet-filtrate .line5,
.wallet-filtrate .line6 {
    width: 1rem;
}

.wallet-filtrate .line1 {
    top: .8rem;
    left: .2rem;
}

.wallet-filtrate .line2 {
    top: 1.6rem;
    left: .2rem;
}

.wallet-filtrate .line3,
.wallet-filtrate .line4 {
    top: .8rem;
}

.wallet-filtrate .line3,
.wallet-filtrate .line5 {
    left: .2rem;
}

.wallet-filtrate .line4,
.wallet-filtrate .line6 {
    right: .2rem;
}

.wallet-filtrate .line5,
.wallet-filtrate .line6 {
    top: 1.6rem;
}

.wallet-filtrate .selType li {
    height: .8rem;
    line-height: .8rem;
}

.wallet-filtrate .selType2 {
    width: 2.8rem;
}

.wallet-filtrate .selBox {
    height: 2.4rem;
}

.wallet-filtrate .filtrate-select {
    box-sizing: border-box;
    width: 1.4rem;
}

.wallet-filtrate .selVal {
    color: #126e98;
    border-bottom: .01rem solid #126e98;
    margin-bottom: .2rem;
}

.wallet-filtrate .selVal input {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: .88rem;
    height: .88rem;
}


/* 会员中心 */

.memberHead {
    box-sizing: border-box;
    width: 7.5rem;
    height: 3.12rem;
    background: -moz-linear-gradient(top, #4e4857, #25222d);
    background: -webkit-linear-gradient(top, #4e4857, #25222d);
    background: -o-linear-gradient(top, #4e4857, #25222d);
    padding: .6rem .2rem 0 .2rem;
    color: #fff;
    position: relative;
}

.memberHeadcont .member-img {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: .1rem solid #666;
    margin-right: .3rem;
}

.memberHeadcont .name-rank {
    line-height: .34rem;
    margin: .2rem 0;
}

.memberHeadcont .name {
    font-size: .32rem;
}

.memberHeadcont .rank {
    display: inline-block;
    padding-left: .5rem;
    font-size: .24rem;
    background: url(./../img/member_1_on.png)no-repeat .1rem .01rem;
    background-size: 22%;
    margin-left: .1rem;
}

.memberHeadcont .levelNum,
.memberHeadcont .level {
    margin-bottom: .2rem;
}

.memberHeadcont .levelNum {
    font-size: .22rem;
}

.memberHeadcont .levelNum p {
    margin-right: .2rem;
}

.memberHeadcont .levelline {
    height: .1rem;
    width: 3.6rem;
    border-radius: .05rem;
    overflow: hidden;
    background-color: #aaa8ad;
}

.memberHeadcont .line {
    height: .1rem;
    border-radius: .05rem;
    background-color: #595461;
}

.memberHeadcont>.check-ins {
    text-align: center;
    width: 1.14rem;
    height: .45rem;
    line-height: .45rem;
    font-size: .26rem;
    border: .01rem solid #fff;
    border-radius: .23rem;
}

.memberHeadcont .option {
    width: .42rem;
    height: .42rem;
    background: url(./../img/op.png)no-repeat center;
    background-size: 100%;
    position: absolute;
    right: .3rem;
    top: .3rem;
}

.memberAsset {
    height: 1.1rem;
    overflow: hidden;
    margin-bottom: .1rem;
}

.memberAsset .assetLi {
    box-sizing: border-box;
    width: 33.3333%;
    line-height: .4rem;
    float: left;
    background-color: #302c3a;
    color: #fff;
    padding: .15rem 0;
    text-align: center;
}

.memberAsset .assetLi:nth-child(1),
.memberAsset .assetLi:nth-child(2) {
    border-right: .01rem solid #eee;
}

.memberAsset .title span {
    position: relative;
}

.memberAsset .title i {
    position: absolute;
    right: -0.35rem;
    top: .06rem;
    width: .28rem;
    height: .28rem;
    background: url(./../img/query.png)no-repeat center;
    background-size: 100%;
}

.memberTitle {
    height: .8rem;
    line-height: .8rem;
    padding: 0 .2rem;
    font-size: .3rem;
    background-color: #fff;
    margin-bottom: .02rem;
}

.member-benefit .cont {
    overflow: hidden;
}

.member-benefit .cont li {
    box-sizing: border-box;
    width: 50%;
    height: 2.84rem;
    padding: .4rem .8rem;
    float: left;
    background-color: #fff;
}

.member-benefit .cont li:nth-child(2n+1) {
    border-right: .01rem solid #eee;
}

.member-benefit .cont li a {
    display: block;
    width: 100%;
    height: 100%;
}

.member-benefit .benefit a {
    display: block;
    color: #999;
    height: .8rem;
    line-height: .8rem;
    padding: 0 .6rem 0 .8rem;
    background: url(./../img/benefit.png)no-repeat .2rem .2rem, url(./../img/more.png)no-repeat 7rem .2rem;
    background-size: 6%, 3%;
    background-color: #fff;
    margin-top: .01rem;
    margin-bottom: .1rem;
}

.recommendFriend {
    margin-bottom: 1.1rem;
}

.recommendFriend .cont {
    overflow: hidden;
}

.recommendFriend .cont li {
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    background-color: #fff;
    text-align: center;
}

.recommendFriend .cont li:nth-child(1),
.recommendFriend .cont li:nth-child(2) {
    border-right: .01rem solid #eee;
}

.recommendFriend .cont li a {
    display: block;
    height: 100%;
    color: #999;
}

.recommendFriend .bg {
    width: .54rem;
    height: .54rem;
    margin: 0 auto;
    margin-top: .6rem;
    margin-bottom: .4rem;
}

.recommendFriend li:nth-child(1) .bg {
    background: url(./../img/ewm.png)no-repeat center;
    background-size: 100%;
}

.recommendFriend li:nth-child(2) .bg {
    background: url(./../img/earnings.png)no-repeat center;
    background-size: 100%;
}

.recommendFriend li:nth-child(3) .bg {
    background: url(./../img/people.png)no-repeat center;
    background-size: 100%;
}


/* 优惠券 */

.couponType {
    height: .88rem;
    line-height: .88rem;
    background-color: #fff;
}

.couponType .type {
    text-align: center;
    font-size: .32rem;
    width: 50%;
    height: 100%;
}

.couponType .type .couponCont {
    display: none;
}

.couponType .type .title {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    padding: 0 .2rem;
}

.couponType .check .couponCont {
    display: block;
}

.couponType .type.check .title {
    border-bottom: .05rem solid #37343f;
}


/* 未使用券 */

.couponCont {
    width: 7.5rem;
    position: absolute;
    left: 0;
    top: .88rem;
    overflow: hidden;
}

.couponLi {
    box-sizing: border-box;
    padding: .15rem;
    width: 6.9rem;
    height: 1.66rem;
    margin: .2rem auto;
    background: url(./../img/ticket.png)no-repeat center;
    background-size: 100%;
}

.couponLi .value {
    float: left;
    color: #fff;
    width: 1.55rem;
    height: 100%;
    line-height: 1.36rem;
    font-size: .3rem;
    text-align: center;
}

.couponLi .value span {
    font-size: .5rem;
}

.couponLi .msg {
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 3.3rem;
    padding: .28rem .1rem;
    line-height: .4rem;
    margin-left: .25rem;
    text-align: left;
}

.couponLi .msg .msgTit {
    font-size: .3rem;
}

.couponLi .msg .msgSec {
    font-size: .24rem;
}

.couponLi .useIt {
    float: left;
    height: 100%;
    width: 1.5rem;
}

.couponLi .useIt a {
    display: block;
    height: .54rem;
    line-height: .54rem;
    width: 1.32rem;
    font-size: .24rem;
    margin-top: .41rem;
    border-radius: .1rem;
    border: .01rem solid #37343f;
}


/* 已使用券 */

.couponLi1 {
    box-sizing: border-box;
    width: 7rem;
    height: 1.98rem;
    margin: .2rem auto;
    padding: 0 .3rem;
    background: url(./../img/ticket_1.png)no-repeat center;
    background-size: 100%;
}

.couponLi1 .content {
    width: 100%;
    height: 1.3rem;
}

.couponLi1 .content .value,
.couponLi1 .content .contMsg {
    float: left;
    padding: .2rem;
    line-height: .45rem;
}

.couponLi1 .content .value {
    color: #00a0e9;
}

.couponLi1 .content .contMsg {
    text-align: left;
}

.couponLi1 .content .contMsg .msgtTime {
    font-size: .22rem;
    color: #ed9906;
}

.couponLi1 .content .value .price span {
    font-size: .5rem;
}

.couponLi1 .msg {
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    color: #636363;
    font-size: .22rem;
    text-align: left;
}


/* 兑换券 */

.cash {
    margin-top: 2rem;
}

.couponLi2 {
    box-sizing: border-box;
    padding: .15rem;
    width: 6.9rem;
    height: 1.5rem;
    margin: .2rem auto;
    background: url(./../img/ticket_2.png)no-repeat center;
    background-size: 100%;
}

.couponLi2 .value {
    float: left;
    color: #fff;
    width: 1.7rem;
    height: 100%;
    line-height: 1.2rem;
    font-size: .4rem;
    text-align: center;
}

.couponLi2 .value span {
    font-size: .76rem;
}

.couponLi2 .msg {
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 3.3rem;
    line-height: .4rem;
    margin-left: .4rem;
    font-size: .24rem;
    text-align: left;
}

.couponLi2 .msg .msgTime {
    font-size: .22rem;
    color: #666;
}

.couponLi2 .msg .msgSec {
    color: red;
}

.couponLi2 .cashIt {
    float: left;
    height: 100%;
    width: 1.2rem;
}

.couponLi2 .cashIt a {
    display: block;
    box-sizing: border-box;
    height: .54rem;
    line-height: .54rem;
    width: 1.2rem;
    font-size: .24rem;
    margin-top: .41rem;
    border-radius: .1rem;
    border: .01rem solid red;
    color: red;
}


/* 我的积分 */

.my-integral>.title,
.my-integral .integralGetTpye {
    padding: 0 .2rem;
    line-height: .8rem;
}

.my-integral .integralGetTpye a {
    display: block;
    box-sizing: border-box;
    padding-right: .3rem;
    background: url(./../img/more.png)no-repeat 6.9rem .24rem;
    background-size: 2.5%;
}


/* 积分商城 */

.iMallHead {
    box-sizing: border-box;
    width: 7.5rem;
    height: 2.45rem;
    padding-top: .5rem;
    background: url(./../img/mallBg.png)no-repeat center;
    background-size: 100%;
    color: #fff;
    text-align: center;
}

.iMallHead .member {
    display: inline-block;
    padding-left: .75rem;
    margin-bottom: .2rem;
}

.iMallHead .memberLevel .level {
    font-size: .3rem;
}

.iMallHead .memberLevel .privileges {
    font-size: .26rem;
    background: -webkit-linear-gradient(left, #ff0404, #ffbc03);
    /* 背景色渐变 */
    -webkit-background-clip: text;
    /* 规定背景的划分区域 */
    -webkit-text-fill-color: transparent;
    /* 防止字体颜色覆盖 */
}

.iMallHead .integral {
    font-size: .34rem;
}

.iMallList {
    overflow: hidden;
}

.iMallLi {
    box-sizing: border-box;
    margin-top: .1rem;
    background-color: #fff;
    float: left;
    width: 2.5rem;
    border: .01rem solid #eee;
    text-align: center;
}

.iMallLi a {
    display: block;
}

.iMallLi .photo {
    height: 1.8rem;
    width: 100%;
}

.iMallLi .price {
    margin: .15rem 0;
    font-size: .24rem;
    color: #999;
}

.iMallLi .cashInp {
    margin-bottom: .2rem;
    font-size: .24rem;
}

.iMallLi .cashInp span {
    padding: .05rem .1rem;
    border: .01rem solid #333;
    border-radius: .2rem;
}


/* 设计师注册 */

.signUpBg {
    background: url(./../img/signUp.png)no-repeat center;
    background-size: 100% 100%;
}

.signUpBg>.title {
    font-size: .4rem;
    color: #aca4b9;
    text-align: center;
    padding: 1rem 0 .8rem 0;
}

.signUpBg .msgli {
    height: .6rem;
    width: 6rem;
    margin: 0 auto;
    margin-top: .5rem;
    color: #fff;
    font-size: .3rem;
    border-bottom: .01rem solid #fff;
}

.signUpBg .msgli:nth-child(4) {
    border: 0;
}

.signUpBg .msgli:nth-child(2) .title {
    background: url(./../img/msg_name.png)no-repeat .15rem 0;
    background-size: 18%;
}

.signUpBg .msgli:nth-child(3) .title {
    background: url(./../img/msg_tel.png)no-repeat .15rem 0;
    background-size: 14%;
}

.signUpBg .msgli:nth-child(5) .title {
    background: url(./../img/msg_company.png)no-repeat .15rem 0;
    background-size: 20%;
}

.signUpBg .inp2 {
    border-bottom: .01rem solid #fff;
}

.signUpBg .msgli .title {
    float: left;
    height: .32rem;
    width: .8rem;
    text-align: center;
    line-height: .32rem;
    margin-top: .14rem;
    padding-left: .45rem;
    padding-right: .25rem;
    border-right: .01rem solid #fff;
}

.signUpBg .msgli .inp2,
.signUpBg .msgli .inp,
.signUpBg .msgli .getCode {
    box-sizing: border-box;
    float: left;
    height: .6rem;
    width: 4.1rem;
    line-height: .6rem;
    color: #fff;
    font-size: .3rem;
}

.signUpBg .msgli .inp {
    padding: 0 .2rem
}

.signUpBg .msgli .inp2 {
    width: 4rem;
    padding: 0 .2rem;
    margin-right: .1rem;
}

.signUpBg .msgli .getCode {
    width: 1.9rem;
    height: 100%;
    border: .01rem solid #fff;
    border-radius: .2rem;
}

.signUpBg .msgli input[type="checkbox"] {
    display: block;
    width: .25rem;
    height: .25rem;
    margin-top: .03rem;
    margin-right: .1rem;
    border: .01rem solid #fff;
}

.signUpBg .protocolMsgLi {
    border: 0;
    line-height: .3rem;
}

.signUpBg .push {
    display: block;
    width: 6rem;
    height: .76rem;
    margin: 0 auto;
    margin-top: 1rem;
    border: .01rem solid #fff;
    color: #fff;
    font-size: .36rem;
    border-radius: .2rem;
}


/* 签到 */

.checkInsMain {
    width: 7.5rem;
    height: 3.65rem;
    background: url(./../img/check_ins.png)no-repeat center;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    position: relative;
}

.checkInsMain .checkIntiegral {
    width: 2rem;
    height: .4rem;
    line-height: .4rem;
    font-size: .22rem;
    position: absolute;
    left: .2rem;
    top: 1.4rem;
}

.checkInsMain .checkIntiegral span {
    font-size: .28rem;
}

.checkInsPin {
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background-color: #1c696f;
    position: absolute;
    left: 3.65rem;
    top: .14rem;
    z-index: 99;
}

.checkInsMain .checkInsStatus {
    width: 1.62rem;
    height: .86rem;
    line-height: .86rem;
    padding-top: .8rem;
    font-size: .4rem;
    border-radius: .1rem;
    position: absolute;
    left: 2.95rem;
    top: .14rem;
    z-index: 90;
    background: url(./../img/check_ins_1.png)no-repeat center;
    background-size: 100% 100%;
}

.checkInsMain .animation1 {
    transform: rotateX(0deg);
    animation: fz 1s;
}

.checkInsMain .animation1 p {
    color: #fff;
}

@keyframes fz {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-80deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.checkInsMain .animation2 {
    transform: rotateX(0deg);
    animation: fz2 3s;
    transform-origin: 50% 0;
}

@keyframes fz2 {
    0% {
        transform: rotateZ(0deg);
    }
    5% {
        transform: rotateZ(-30deg);
    }
    10% {
        transform: rotateZ(30deg);
    }
    18% {
        transform: rotateZ(-25deg);
    }
    27% {
        transform: rotateZ(25deg);
    }
    39% {
        transform: rotateZ(-20deg);
    }
    50% {
        transform: rotateZ(20deg);
    }
    60% {
        transform: rotateZ(-16deg);
    }
    70% {
        transform: rotateZ(14deg);
    }
    80% {
        transform: rotateZ(-10deg);
    }
    86% {
        transform: rotateZ(8deg);
    }
    90% {
        transform: rotateZ(-6deg);
    }
    93% {
        transform: rotateZ(4deg);
    }
    95% {
        transform: rotateZ(-2deg);
    }
    97% {
        transform: rotateZ(1deg);
    }
    99% {
        transform: rotateZ(-1deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.checkInsMain .checkInsTime {
    width: 6.3rem;
    height: .08rem;
    position: absolute;
    left: 50%;
    bottom: .8rem;
    margin-left: -3.15rem;
    background-color: #fff;
    border-radius: .05rem;
}

.checkInsMain .checkInsTimePoint {
    float: left;
    width: .15rem;
    height: .15rem;
    margin-left: .87rem;
    margin-top: -.04rem;
    position: relative;
}

.checkInsMain .checkInsTimePoint::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: .15rem;
    height: .15rem;
    border-radius: 50%;
    background-color: #fff;
}

.checkInsMain .checkInsTimePoint:nth-of-type(1) {
    margin-left: .02rem;
}

.checkInsMain .checkInsTimePoint .point {
    position: absolute;
    left: -.3rem;
    top: -.48rem;
    width: .74rem;
    height: .48rem;
    font-size: .22rem;
    line-height: .36rem;
    background: url(./../img/point.png)no-repeat center;
    background-size: 100% 100%;
    display: none;
}

.checkInsMain .checkInsTimePoint.check::after {
    background-color: #1c696f;
    transform: scale(1.5);
    opacity: 1;
    animation: op 1s;
}

@keyframes op {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: .4;
    }
    75% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

.checkInsMain .checkInsTimePoint.check .point {
    display: block;
    opacity: 1;
    animation: op 1s;
}

.checkInsMain .checkInsTimePoint .weekday {
    position: absolute;
    left: -.3rem;
    top: .25rem;
    width: .74rem;
    height: .36rem;
    font-size: .22rem;
    line-height: .36rem;
}

.checkInstitle {
    height: .88rem;
    line-height: .88rem;
    padding: 0 .7rem 0 .3rem;
    margin-bottom: .1rem;
    background: url(./../img/calendar.png)no-repeat 6.7rem .23rem;
    background-size: 6%;
    background-color: #fff;
}


/* 关于我们 */

.aboutUs {
    padding: .3rem;
    background-color: #fff;
}

.aboutUs img {
    display: block;
    max-width: 6.9rem;
    margin: .1rem auto;
    border-radius: .1rem;
}


/* 首页 */

.indexHead {
    padding: .2rem;
    margin-bottom: .1rem;
}

.indexHead .indexBanner {
    width: 7.1rem;
    height: 3.25rem;
    border-radius: .2rem;
    overflow: hidden;
    margin: 0 auto;
}

.indexHead .indexNews {
    padding-left: .5rem;
    height: .58rem;
    line-height: .58rem;
    font-size: .26rem;
    background: url(./../img/voice.png)no-repeat 0 .1rem;
    background-size: 5%;
    background-color: #fff;
    margin-top: .2rem;
}

.indexHead .newsBanner {
    height: 100%;
}

.indexMenu {
    background-color: #fff;
    padding: .3rem 0;
    line-height: .54rem;
    text-align: center;
    overflow: hidden;
}

.indexMenu .indexMenuli {
    float: left;
    padding-top: .56rem;
    width: 25%;
}

.indexMenu .indexMenuli a {
    display: block;
}

.indexMenu .indexMenuli:nth-of-type(1) {
    background: url(./../img/iMenu_1.png)no-repeat .69rem 0;
    background-size: 25%;
}

.indexMenu .indexMenuli:nth-of-type(2) {
    background: url(./../img/iMenu_2.png)no-repeat .7rem 0;
    background-size: 24%;
}

.indexMenu .indexMenuli:nth-of-type(3) {
    background: url(./../img/iMenu_3.png)no-repeat .68rem 0;
    background-size: 26%;
}

.indexMenu .indexMenuli:nth-of-type(4) {
    background: url(./../img/iMenu_4.png)no-repeat .68rem 0;
    background-size: 26%;
}

.indexModule {
    margin-top: .1rem;
    margin-bottom: 1.1rem;
    background-color: #fff;
    padding: .3rem .2rem;
    overflow: hidden;
}

.indexModule .moduleLi {
    width: 3.45rem;
    height: 2rem;
    float: left;
    border-radius: .2rem;
    color: #fff;
    font-size: .34rem;
    margin-bottom: .1rem;
}

.indexModule .moduleLi:nth-of-type(2n+1) {
    margin-right: .2rem;
}

.indexModule .moduleLi:nth-of-type(1) {
    background: url(./../img/module_1.png)no-repeat center;
    background-size: 100%;
}

.indexModule .moduleLi:nth-of-type(2) {
    background: url(./../img/module_2.png)no-repeat center;
    background-size: 100%;
}

.indexModule .moduleLi:nth-of-type(3) {
    background: url(./../img/module_3.png)no-repeat center;
    background-size: 100%;
}

.indexModule .moduleLi:nth-of-type(4) {
    background: url(./../img/module_4.png)no-repeat center;
    background-size: 100%;
}

.indexModule .moduleCont {
    height: .8rem;
    line-height: .8rem;
    margin-top: .45rem;
    padding-left: .3rem;
    padding-right: 1.4rem;
    color: #fff;
}


/* 付款方式 */

.payWayMain .payeeMsgLi {
    height: .88rem;
    line-height: .88rem;
    padding: 0 .2rem;
    background-color: #fff;
    margin-bottom: .02rem;
}

.payWayMain .payeeMsgLi span {
    font-size: .26rem;
    color: #999;
}

.payWayMain .qrcode {
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    padding: .2rem;
    margin: .6rem auto;
    background-color: #fff;
}

.payWayMain .qrcode img {
    display: block;
    width: 100%;
    height: 100%;
}


/* 双方协议 */

.mutual-agreement {
    padding: .2rem;
}

.mutual-agreement .agreementSec {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .2rem;
    background-color: #fff;
    border-radius: .2rem;
    overflow-x: auto;
    text-indent: 2em;
}

.mutual-agreement .agreementSec::-webkit-scrollbar {
    display: none;
}

.mutual-agreement .agreementTit {
    text-align: center;
    font-size: .28rem;
    margin-bottom: .2rem;
}


/* 我的作品 */

.myWorksHead {
    position: relative;
    margin-bottom: 1.4rem;
}

.myWorksHead .headBg {
    width: 7.5rem;
    height: 2.35rem;
    background: url(./../img/myworks_bg.png)no-repeat center;
    background-size: 100%;
}

.myWorksHead .resume {
    width: 7.1rem;
    position: absolute;
    top: .8rem;
    left: 50%;
    margin-left: -3.55rem;
}

.myWorksHead .resume .message {
    position: relative;
    font-size: .24rem;
    text-align: center;
    color: #fff;
}

.myWorksHead .resume .message h3 {
    font-weight: normal;
}

.myWorksHead .resume .message .msgImgBg {
    width: 1.15rem;
    height: 1.25rem;
    margin: 0 auto;
    background: url(./../img/myworks_bg1.png)no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.myWorksHead .resume .message .msgImgBg .msgImg {
    width: 1.05rem;
    height: 1.05rem;
    border-radius: 50%;
    position: absolute;
    left: .05rem;
    top: .04rem;
}

.myWorksHead .resume .message .msgCompany {
    position: absolute;
    left: 0;
    bottom: .2rem;
}

.myWorksHead .resume .message .msgTel {
    position: absolute;
    right: 0;
    bottom: .2rem;
}

.myWorksHead .resume .message .msgCompany,
.myWorksHead .resume .message .msgTel {
    max-width: 2.4rem;
}

.myWorksHead .resume .introduce {
    box-sizing: border-box;
    height: 1.6rem;
    width: 100%;
    padding: .2rem .3rem;
    border-radius: .15rem;
    background-color: #fff;
}

.myWorksHead .resume .introduce .name {
    text-align: center;
    font-size: .3rem;
    color: #999;
    margin-bottom: .1rem;
}

.myWorksHead .resume .introduce .name span {
    color: #333;
}

.myWorksHead .resume .introduce .introduceCont {
    font-size: .26rem;
}

.myWorksHead .resume .introduce .introduceCont span {
    color: #999;
}

.myWorksDispaly {
    margin-bottom: 1rem;
}

.myWorksSearchBox {
    padding: .2rem;
}

.myWorksSearch {
    box-sizing: border-box;
    width: 100%;
    height: .6rem;
    border-radius: .3rem;
    padding: 0 .2rem;
    background-color: #eee;
}

.myWorksSearch input,
.myWorksSearch button {
    display: inline-block;
    height: 100%;
    line-height: .6rem;
    font-size: .3rem;
}

.myWorksSearch button {
    width: 1.2rem;
}

.myWorksSearch input {
    box-sizing: border-box;
    width: 5.5rem;
    height: .4rem;
    line-height: .4rem;
    margin: .1rem 0;
    padding: 0 .1rem;
    border-right: .01rem solid #666;
}

.myWorksList {
    overflow: hidden;
}

.myWorksList .myWorksLi {
    width: 3.7rem;
    float: left;
    background-color: #fff;
    margin-bottom: .1rem;
}

.myWorksList .myWorksLi:nth-of-type(2n+1) {
    margin-right: .1rem;
}

.myWorksList .myWorksLi .myWorksImg {
    height: 2.1rem;
}

.myWorksList .myWorksLi .myWorksName {
    padding: .1rem .2rem;
}

.myWorksList .myWorksLi .myWorksStyle {
    padding: 0 .2rem;
    padding-bottom: .2rem;
    font-size: .24rem;
    color: #999;
}


/* 我的作品详情 */

.worksDetails {
    background-color: #fff;
}

.worksDetails .worksName {
    padding: .2rem;
    font-size: .34rem;
}

.worksDetails .worksCompany {
    padding: 0 .2rem;
    color: #999;
}

.worksDetails .worksCompany span {
    color: #333;
}

.worksDetails .designer {
    padding: .2rem;
    height: .72rem;
    line-height: .72rem;
}

.worksDetails .designer .photo {
    width: .72rem;
    height: 100%;
    margin-right: .2rem;
    border-radius: 50%;
}

.worksDetails .short {
    color: #999;
    padding: .2rem;
}

.worksDetails .short .shortTime {
    color: #333;
    text-align: right;
    font-size: .24rem;
}

.worksDetails .worksIntroduce {
    margin-top: .5rem;
}

.worksDetails .worksIntroduce .worksImgBox {
    position: relative;
    padding: .1rem 0;
}

.worksDetails .worksIntroduce .worksImgBox img {
    display: block;
    max-width: 7.5rem;
    margin: 0 auto;
}

.worksDetails .worksIntroduce .VR {
    position: absolute;
    top: .2rem;
    right: .2rem;
    height: .48rem;
    line-height: .48rem;
    padding: 0 .2rem;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: .18rem;
}

.worksDetails .worksIntroduce .worksCont {
    padding: .2rem;
    text-indent: 2em;
}

.worksDetails .callMe {
    margin-top: .5rem;
}

.worksDetails .callMe .designerIntroduce {
    box-sizing: border-box;
    width: 7.1rem;
    height: 2.65rem;
    padding: .2rem;
    margin: 0 auto;
    background-color: #eee;
}

.worksDetails .callMe .designerIntroduce .designerImg {
    width: .86rem;
    height: 100%;
}

.worksDetails .callMe .designerIntroduce .designerImg div {
    width: 100%;
    height: .86rem;
    border-radius: 50%;
}

.worksDetails .callMe .designerIntroduce .designerName {
    box-sizing: border-box;
    width: 5.84rem;
    height: 100%;
    padding-left: .2rem;
}

.worksDetails .callMe .designerIntroduce .designerName .name {
    margin: .1rem 0;
}

.worksDetails .callMe .designerIntroduce .designerName .secondShort {
    margin-top: .2rem;
    color: #999;
    font-size: .26rem;
}

.worksDetails .footer {
    padding: .2rem 0;
    text-align: center;
    color: #999;
}


/* 意见反馈 */

.feedback {
    padding: .2rem;
}

.feedback .writeInp {
    box-sizing: border-box;
    width: 7.1rem;
    height: 5rem;
    line-height: .4rem;
    border-radius: .2rem;
    padding: .2rem;
    background-color: #fff;
    overflow-x: auto;
    margin-bottom: 1rem;
}

.feedback .writeInp::-webkit-scrollbar {
    display: none;
}