/* 提示信息弹窗 */

.popup {
    width: 7.1rem;
    position: fixed;
    left: 50%;
    margin-left: -3.55rem;
    top: 4rem;
    border-radius: .2rem;
    overflow: hidden;
    text-align: center;
}

.popup .tit {
    height: .8rem;
    line-height: .8rem;
    width: 100%;
    background-color: #37343f;
    color: #fff;
    font-size: .3rem;
}

.popup .cont {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem .2rem;
    background-color: #fff;
    color: #888;
}

.popup .option {
    font-size: .3rem;
    color: #333;
    height: .8rem;
    line-height: .8rem;
}