#p-o {
  margin-bottom: 20px;
}

.p-o-l {
  width: 720px;
  margin-right: 20px;
}

.swiper-container {
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  text-align: right;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  border-radius: 0;
}

#info {
  border: 1px solid #cdcccc;
}

.info-t {
  font-size: 24px;
  font-weight: normal;
  line-height: 44px;
  padding-left: 28px;
  border-bottom: 2px solid #cdcccc;
}

.fl-info {
  width: 720px;
  height: 122px;
  box-sizing: border-box;
  border-bottom: 1px solid #cdcccc;
}

.fir-li {
  width: 120px;
  height: 100%;
  text-align: center;
}

.fir-li .fl-box {
  width: 120px;
  height: 122px;
  overflow: hidden;
}

.fir-li .fl-box i {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 10px;
}

.fir-li-c {
  color: #f1603c;
  font-weight: bold;
}

.all i {
  background: url(/images/index/all.png) no-repeat center;
  background-size: 100%;
}

.emergency i {
  background: url(/images/index/emergency.png) no-repeat center;
  background-size: 100%;
}

.hourly i {
  background: url(/images/index/hourly.png) no-repeat center;
  background-size: 100%;
}

.laborer i {
  background: url(/images/index/laborer.png) no-repeat center;
  background-size: 100%;
}

.month i {
  background: url(/images/index/month.png) no-repeat center;
  background-size: 100%;
}

.holidays i {
  background: url(/images/index/holidays.png) no-repeat center;
  background-size: 100%;
}

.fl-xq-box {
  box-sizing: border-box;
}

.fl-xq-box .sec-li {
  padding: 20px 40px;
  border-bottom: 1px solid #cdcccc;
}

.fl-xq-box .sec-li p {
  min-width: 60px;
  text-align: center;
  margin-right: 40px;
  color: #f1603c;
  font-weight: bold;
}

.fl-xq-box .sec-li .fl-xq {
  width: 538px;
}

.fl-xq-box .sec-li .fl-xq .thr-li {
  width: 60px;
  margin: 0 15px;
  line-height: 24px;
}

.fl-xq-box .sec-li:nth-last-of-type(1) {
  border-bottom: 0;
}

.p-o-r {
  width: 260px;
  box-sizing: border-box;
}

.p-o-r div {
  box-sizing: border-box;
}

.attention {
  width: 100%;
  height: 250px;
  text-align: center;
  background: url(/images/index/ewm_bg_02.png) no-repeat center;
  background-size: 105% 100%;
  color: #ef3c26;
  margin-bottom: 20px;
}

.attention img {
  display: block;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
}

.hint {
  width: 100%;
  margin-bottom: 20px;
}

.hint h4 {
  text-align: center;
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  background-color: #ebac2b;
}

.hint .hint-ul {
  width: 238px;
  padding: 0 10px;
  border: 1px solid #cdcccc;
  border-top: 0;
}

.hint .hint-ul .hint-li {
  line-height: 16px;
  font-size: 14px;
  margin: 7px 0;
}

.hint .hint-ul .hint-li span {
  width: 10px;
  color: #ebac2b;
  margin-right: 5px;
}

.hint .hint-ul .hint-li p {
  width: 223px;
  color: #767676;
}

.information {
  width: 100%;
  border: 1px solid #cdcccc;
  color: #6e6e6e;
  margin-bottom: 20px;
}

.information .info-ul {
  width: 240px;
  padding: 0 10px;
}

.information .info-ul .info-li {
  margin: 8px 0;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.t-o-b {
  height: 46px;
  width: 100%;
  line-height: 46px;
  padding: 0 10px;
  border-bottom: 1px solid #cdcccc;
  color: #6e6e6e;
  background-color: #dfdfdf;
}

.t-o-b span {
  font-size: 18px;
  font-weight: bold;
}

.t-o-b b {
  font-size: 14px;
}

.t-o-b b:hover {
  cursor: pointer;
}

.complaint {
  margin-bottom: 20px;
  border: 1px solid #cdcccc;
}

.comp-ul {
  width: 240px;
  color: #6e6e6e;
}

.comp-ul .comp-li {
  padding: 8px 10px;
  font-size: 14px;
  border-bottom: 1px solid #cdcccc;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comp-ul .comp-li:nth-last-of-type(1) {
  border-bottom: 0;
}

.recommend {
  overflow: hidden;
  border: 1px solid #cdcccc;
  margin-bottom: 20px;
  position: relative;
}

.recommend .rec-t {
  font-size: 22px;
  padding: 10px 0;
  color: #6e6e6e;
  border-bottom: 1px solid #cdcccc;
  padding-left: 10px;
}

.recommend .c-s {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: 10px;
}

.recommend .c-l {
  left: 10px;
  background: url(/images/index/left.png) no-repeat center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.recommend .c-r {
  right: 10px;
  background: url(/images/index/right.png) no-repeat center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.rec-c {
  width: 2000px;
  padding: 10px 0;
}

.rec-c .rec-l {
  width: 250px;
}

.rec-c .rec-l .rel-l-img {
  width: 100px;
  margin-right: 5px;
}

.rec-c .rec-l .rel-l-img img {
  width: 100%;
}

.rec-c .rec-l .rel-l-c {
  width: 130px;
  padding-right: 10px;
  line-height: 24px;
}

.rec-c .rec-l .rel-l-c h4 {
  font-size: 18px;
  color: #ef3c26;
}

.rec-c .rec-l .rel-l-c h4,
.rec-c .rec-l .rel-l-c p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rec-c .rec-l .rel-l-c p {
  color: #6e6e6e;
}

.rec-c .rec-l .rel-l-c .rel-l-n {
  font-size: 18px;
}

.rec-c .rec-l .rel-l-c .rel-l-e {
  font-size: 12px;
}

.rec-c .rec-l .rel-l-c .rel-l-c {
  font-size: 12px;
}
