body {
    background-color: #eee;
}

a {
    color: #333;
}


/* 单选按钮、复选按钮 */

.input-checked {
    background: url(./../img/success_1.png)no-repeat center;
    background-size: 120%;
}

.input-no-checked {
    background: transparent;
}


/* 收货地址 */


/* 信息填写栏 */

.msg-inp {
    width: 6.9rem;
    padding: 0 .3rem;
    height: .88rem;
    line-height: .88rem;
    font-size: .3rem;
    border-bottom: .01rem solid #eee;
    background-color: #fff;
}

.msg-inp-tit {
    width: 2.4rem;
}

.msg-inp-txt {
    width: 4.5rem;
    height: .88rem;
    line-height: .88rem;
    font-size: .3rem;
    color: #999;
}


/* 地区选择 */

.msg-inp #J_Address {
    width: 4rem;
    padding-right: .5rem;
    background: url(./../img/more_l.png)no-repeat 4.15rem .28rem;
    background-size: 4%;
}

.msg-inp-check {
    width: .32rem;
    height: .32rem;
    margin-top: .28rem;
    border-radius: 50%;
    border: .01rem solid #93d521;
    margin-right: .2rem;
}

.msg-inp:last-of-type {
    margin: .1rem 0;
}

.form-op .sub-inp {
    display: block;
    width: 5rem;
    height: .8rem;
    line-height: .8rem;
    color: #fff;
    background-color: #93d521;
    margin: 0 auto;
    margin-top: 1.2rem;
    border-radius: .2rem;
    font-size: .34rem;
}


/* 信息展示栏 */

.msg-dis {
    padding: 0 .2rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .26rem;
    border-bottom: .01rem solid #eee;
}


/* 按钮类型 */

.btn1 {
    width: 7.5rem;
    height: .98rem;
    background-color: #93d521;
    color: #fff;
    font-size: .34rem;
    text-align: center;
}


/* 底部菜单栏 */

.menu-spacing {
    margin-bottom: 1.2rem;
}

.menu {
    height: .98rem;
    width: 7.5rem;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -3.75rem;
    background-color: #fff;
    z-index: 10;
}

.menu-li {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: .1rem .2rem;
}

.menu-li a {
    display: block;
    text-align: center;
}

.menu-li a div {
    width: .44rem;
    height: .44rem;
    margin: 0 auto;
    margin-bottom: .06rem;
}

.menu-li a p {
    font-size: .28rem;
    line-height: .28rem;
}

.menu .index div {
    background: url(./../img/menu_1.png)no-repeat center;
    background-size: 100%;
}

.menu .circuit div {
    background: url(./../img/menu_2.png)no-repeat center;
    background-size: 90%;
}

.menu .shopping-car div {
    background: url(./../img/menu_3.png)no-repeat center;
    background-size: 90%;
}

.menu .sales div {
    background: url(./../img/menu_4.png)no-repeat center;
    background-size: 100%;
}

.menu .center div {
    background: url(./../img/menu_5.png)no-repeat center;
    background-size: 90%;
}

.shopping-car {
    position: relative;
}

.shopping-car .commodity {
    position: absolute;
    right: .35rem;
    top: .05rem;
    width: .3rem;
    height: .3rem;
    line-height: .3rem;
    border-radius: 50%;
    font-size: .24rem;
    color: #fff;
    background-color: #93d521;
    overflow: hidden;
}

input[type="checkbox"] {
    width: .38rem;
    height: .38rem;
    border-radius: 50%;
    border: .01rem solid #93d521;
}


/* 底部操作 */

.bt-op {
    height: .98rem;
    width: 7.5rem;
    position: fixed;
    left: calc(50% - 3.75rem);
    bottom: 0;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    z-index: 10;
}

.bt-op a {
    display: block;
    width: 100%;
    height: 100%;
}

.bOp-l,
.bOp-r {
    width: 50%;
    height: 100%;
    float: left;
}


/* 模糊效果 */

.blur {
    -webkit-filter: blur(.1rem);
    -moz-filter: blur(.1rem);
    -o-filter: blur(.1rem);
    -ms-filter: blur(.1rem);
    filter: blur(.1rem);
}


/* 确认取消弹窗操作栏 */

.popups {
    width: 4rem;
    background-color: #fff;
    position: fixed;
    left: calc(50% - 2.1rem);
    top: 30%;
    border: .01rem solid #eee;
    border-radius: .1rem;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 100;
}

.popups-remind {
    padding: 0 0.2rem;
    font-size: .3rem;
    line-height: .52rem;
    color: #fff;
    background-color: #93d521;
}

.popups-cont {
    padding: .2rem;
}

.popups-op {
    padding: .2rem;
}

.popups-op button {
    padding: .1rem .2rem;
    margin: 0 .2rem;
    color: #fff;
    background-color: #93d521;
    border-radius: .1rem;
}


/* 弹窗提示栏 */

.remind {
    width: 6.7rem;
    margin: 0 auto;
    margin-top: 3.2rem;
    background-color: #fff;
    overflow: hidden;
    border-radius: .2rem;
}

.remind-op {
    width: 100%;
    height: .68rem;
    line-height: .68rem;
    font-size: .3rem;
    position: relative;
    text-align: center;
    color: #fff;
}

.remind-tit {
    width: 3.1rem;
    padding: 0 2rem;
    background-color: #93d521;
}

.remind-qx,
.remind-qd {
    padding: 0 .2rem;
    position: absolute;
    top: 0;
}

.remind-qx {
    left: 0;
}

.remind-qd {
    right: 0;
}

.remind-amount {
    width: 100%;
    padding: 0 .2rem;
    box-sizing: border-box;
}


/* 优惠券 */

.coupon-list {
    padding: .2rem 0;
}

.coupon-li {
    box-sizing: border-box;
    width: 7.1rem;
    height: 1.64rem;
    margin: .15rem auto;
    padding: .2rem 0;
    background: url(./../img/coupon_bg.png)no-repeat center;
    background-size: 100%;
}

.coupon-sec-limit {
    height: 100%;
    line-height: 1.25rem;
    width: 1.42rem;
    text-align: center;
}

.coupon-sec-limit span {
    font-size: .34rem;
}

.coupon-sec-img {
    box-sizing: border-box;
    width: 1.3rem;
    height: 100%;
    margin: 0 .2rem;
    border-radius: .1rem;
    border: .01rem solid #eee;
}

.coupon-sec-cont {
    width: 3.55rem;
    font-size: .3rem;
}

.coupon-sec-size,
.coupon-sec-pri {
    font-size: .24rem;
    color: #999;
}

.coupon-sec-size {
    margin-bottom: .2rem;
}

.coupon-sec-pri {
    color: #93d521;
}

.coupon-sec-limit {
    width: 1.8rem;
    height: 100%;
    line-height: 1.24rem;
    margin-left: .05rem;
}

.coupon-sec-limit a {
    color: #93d521;
}

.lose a {
    color: #999;
}


/* 圈子动态列表 */

.dynDet-person {
    padding: .1rem .3rem;
}

.dynDet-person-img {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    margin-right: .1rem;
}

.dynDet-person-nati {
    line-height: .4rem;
    font-size: .3rem;
}

.dynDet-person-time {
    font-size: .24rem;
    color: #999;
}

.dynDet-person-attention span {
    font-size: .24rem;
    color: #93d521;
    line-height: .8rem;
    padding: .1rem .15rem;
    border: .01rem solid #93d521;
    border-radius: .1rem;
}

.dynDet-contbox {
    border-top: .01rem solid #eee;
    padding: .2rem;
    margin-bottom: 1.1rem;
}

.dynDet-cont {
    font-size: .28rem;
    line-height: .36rem;
    margin-bottom: .1rem;
}

.dynDet-cont img {
    margin: .1rem .05rem;
    max-width: 7rem;
}

.dynDet-cont-option {
    height: .75rem;
    line-height: .75rem;
    color: #999;
    font-size: .3rem;
}

.dynDet-like,
.dynDet-comment {
    padding-left: .6rem;
    margin: 0 .2rem;
}

.dynDet-like {
    background: url(./../img/like.png)no-repeat .1rem .2rem;
    background-size: 40%;
}

.dynDet-like-on {
    background: url(./../img/like_on.png)no-repeat .1rem .2rem;
    background-size: 40%;
}

.dynDet-comment {
    background: url(./../img/comment.png)no-repeat .1rem .2rem;
    background-size: 42%;
}

.dynDet-comment-on {
    background: url(./../img/comment_on.png)no-repeat .1rem .2rem;
    background-size: 42%;
}

.dynDet-share {
    height: .45rem;
    width: .45rem;
    margin: .15rem;
    background: url(./../img/share.png)no-repeat center;
    background-size: 80%;
}

.dynDet-comment-cont {
    padding-top: .2rem;
    border-top: .01rem solid #eee;
    font-size: .28rem;
    line-height: .4rem;
}

.comCont-person,
.comContreply-person,
.comContreply-master {
    color: #93d521;
}

.comContreply-li,
.comCont-sec,
.comContreply-sec {
    color: #666;
}


/* 动态评论 */

.dynDet-comment-inp {
    box-sizing: border-box;
    width: 7.5rem;
    height: .98rem;
    padding: .14rem .2rem;
}

.dynDet-comment-inp input {
    width: 6.9rem;
    padding: 0 .1rem;
    height: .7rem;
    line-height: .7rem;
    box-sizing: border-box;
    border: .01rem solid #eee;
    border-radius: .1rem;
}


/* 福利商品信息列表 */

.fesDis-li {
    width: 7.5rem;
    height: 2.7rem;
    padding: .2rem 0;
    margin-bottom: .02rem;
}

.fesDis-li a {
    display: block;
    width: 100%;
    height: 100%;
}

.fesDis-img {
    box-sizing: border-box;
    width: 3rem;
    height: 2.7rem;
    margin: 0 .35rem;
    border: .01rem solid #eee;
}

.fesDis-cont {
    width: 3.45rem;
    height: 2.7rem;
    margin-right: .35rem;
}

.fesDis-tag {
    font-size: .24rem;
    line-height: .4rem;
    padding: 0 .1rem;
    margin-right: .1rem;
    color: #fff;
    background-color: #93d521;
    border-radius: .1rem;
}

.fesDis-name {
    font-size: .3rem;
}

.fesDis-msg {
    margin: .2rem 0;
}

.fesDis-discount span {
    font-size: .24rem;
    padding: 0 .1rem;
    line-height: .28rem;
    border: .01rem solid #93d521;
    color: #93d521;
    border-radius: .1rem;
}

.fesDis-discount {
    margin-bottom: .3rem;
}

.fesDis-price {
    height: .45rem;
    line-height: .45rem;
}

.curPrice {
    text-align: center;
    font-size: .24rem;
    height: .45rem;
    width: 1.2rem;
    color: #fff;
    background-color: #fa5656;
    margin-right: .2rem;
    border-radius: .1rem 0.22rem .22rem .1rem / .1rem .22rem .22rem .1rem;
}

.curPrice span {
    font-size: .3rem;
}

.oriCost {
    font-size: .24rem;
    color: #999;
    text-decoration: line-through;
}