body {
    background-color: #eee;
}


/* 收货地址 */


/* 信息填写栏 */

.msg-inp {
    width: 6.9rem;
    padding: 0 .3rem;
    height: .88rem;
    line-height: .88rem;
    font-size: .3rem;
    border-bottom: .01rem solid #eee;
    background-color: #fff;
}

.msg-inp-tit {
    width: 2.4rem;
}

.msg-inp-txt {
    width: 4.5rem;
    height: .88rem;
    line-height: .88rem;
    font-size: .3rem;
    color: #999;
}

.msg-inp #J_Address {
    width: 4rem;
    padding-right: .5rem;
    background: url(./../img/more_l.png)no-repeat 4.15rem .28rem;
    background-size: 4%;
}

.msg-inp-check {
    width: .32rem;
    height: .32rem;
    margin-top: .28rem;
    border-radius: 50%;
    border: .01rem solid #93d521;
    margin-right: .2rem;
}

.msg-inp:last-of-type {
    margin: .1rem 0;
}

.form-op .sub-inp {
    display: block;
    width: 5rem;
    height: .8rem;
    line-height: .8rem;
    color: #fff;
    background-color: #93d521;
    margin: 0 auto;
    margin-top: 1.2rem;
    border-radius: .2rem;
    font-size: .34rem;
}


/* 信息展示栏 */

.msg-dis {
    padding: 0 .2rem;
    height: .8rem;
    line-height: .8rem;
    font-size: .26rem;
    border-bottom: .01rem solid #eee;
}

.msg-dis-freight,
.msg-dis-orderID {
    margin-top: .1rem;
}

.msg-dis-payment p {
    color: red;
}


/* 按钮类型 */

.btn1 {
    width: 7.5rem;
    height: .98rem;
    background-color: #93d521;
    color: #fff;
    font-size: .34rem;
    text-align: center;
}


/* 底部菜单栏 */

.menu-spacing {
    margin-bottom: 1.2rem;
}

.menu {
    height: .98rem;
    width: 7.5rem;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -3.75rem;
    background-color: #fff;
}

.menu-li {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: .1rem .2rem;
}

.menu-li a {
    display: block;
    text-align: center;
}

.menu-li a div {
    width: .44rem;
    height: .44rem;
    margin: 0 auto;
    margin-bottom: .06rem;
}

.menu-li a p {
    font-size: .28rem;
    line-height: .28rem;
}

.menu .index div {
    background: url(./../img/menu_1.png)no-repeat center;
    background-size: 100%;
}

.menu .circuit div {
    background: url(./../img/menu_2.png)no-repeat center;
    background-size: 90%;
}

.menu .shopping-car div {
    background: url(./../img/menu_3.png)no-repeat center;
    background-size: 90%;
}

.menu .sales div {
    background: url(./../img/menu_4.png)no-repeat center;
    background-size: 100%;
}

.menu .center div {
    background: url(./../img/menu_5.png)no-repeat center;
    background-size: 90%;
}

.shopping-car {
    position: relative;
}

.shopping-car .commodity {
    position: absolute;
    right: .3rem;
    top: 0;
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
    border-radius: 50%;
    font-size: .24rem;
    color: #fff;
    background-color: #93d521;
}

input[type="checkbox"] {
    width: .38rem;
    height: .38rem;
    border-radius: 50%;
    border: .01rem solid #93d521;
}