.addrLi {
    width: 7.1rem;
    margin: 0 .2rem;
    margin-top: .1rem;
    border-radius: .2rem;
    overflow: hidden;
}

.deliMsg {
    padding: 0 .2rem;
    line-height: .8rem;
    font-size: .24rem;
    color: #999;
    text-align: center;
}

.deliName,
.deliTel {
    width: 50%;
}

.deliAddr a {
    display: block;
    box-sizing: border-box;
    padding: 0 .2rem;
    padding-right: .8rem;
    margin-bottom: .2rem;
    background: url(./../img/more_l.png)no-repeat 6.6rem .24rem;
    background-size: 2.5%;
}

.deliAddr-op {
    padding: 0 .2rem;
    line-height: .88rem;
    color: #999;
    border-top: .01rem solid #eee;
}

.dfInp {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    margin-top: .26rem;
    margin-right: .1rem;
    border-radius: 50%;
    border: .01rem solid #eee;
}

.dfInp-check {
    background: url(./../img/success_1.png)no-repeat center;
    background-size: 100%;
}

.delBtn {
    width: .31rem;
    height: .36rem;
    margin-top: .26rem;
    background: url(./../img/del_1.png)no-repeat center;
    background-size: 100%;
}

.addrUl {
    margin-bottom: 1.1rem;
}

.newAddr {
    position: fixed;
    left: calc(50% - 3.75rem);
    bottom: 1rem;
    z-index: 10;
}

.newAddr a {
    display: block;
}

.newAddr button {
    width: 7.5rem;
    height: .88rem;
    color: #fff;
    background-color: #93d521;
    font-size: .34rem;
}