.fesDis-li {
    width: 7.5rem;
    height: 2.7rem;
    padding: .2rem 0;
    margin-bottom: .02rem;
}

.fesDis-li a {
    display: block;
    width: 100%;
    height: 100%;
}

.fesDis-img {
    box-sizing: border-box;
    width: 3rem;
    height: 2.7rem;
    margin: 0 .35rem;
    border: .01rem solid #eee;
}

.fesDis-cont {
    width: 3.45rem;
    height: 2.7rem;
    margin-right: .35rem;
}

.fesDis-tag {
    font-size: .24rem;
    line-height: .4rem;
    padding: 0 .1rem;
    margin-right: .1rem;
    color: #fff;
    background-color: #93d521;
    border-radius: .1rem;
}

.fesDis-name {
    font-size: .3rem;
}

.fesDis-msg {
    margin: .2rem 0;
}

.fesDis-discount span {
    font-size: .24rem;
    padding: 0 .1rem;
    line-height: .28rem;
    border: .01rem solid #93d521;
    color: #93d521;
    border-radius: .1rem;
}

.fesDis-discount {
    margin-bottom: .3rem;
}

.fesDis-price {
    height: .45rem;
    line-height: .45rem;
}

.curPrice {
    text-align: center;
    font-size: .24rem;
    height: .45rem;
    width: 1.2rem;
    color: #fff;
    background-color: #fa5656;
    margin-right: .2rem;
    border-radius: .1rem 0.22rem .22rem .1rem / .1rem .22rem .22rem .1rem;
}

.curPrice span {
    font-size: .3rem;
}

.oriCost {
    font-size: .24rem;
    color: #999;
    text-decoration: line-through;
}