.logisticsStatus {
    padding: .3rem;
    font-size: .24rem;
    line-height: .34rem;
    color: #666;
}

.goodsImg {
    box-sizing: border-box;
    border: .01rem solid #eee;
    border-radius: .1rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3rem;
}

.status {
    color: #333;
    font-size: .3rem;
}

.status span {
    color: #93d521;
    margin-left: .3rem;
    line-height: .5rem;
}

.officialTel {
    color: #999;
}

.tit {
    line-height: .8rem;
    text-align: center;
}

.logisticsUi {
    padding: .3rem 0;
}

.logisticsLi {
    color: #999;
    padding-left: 1.2rem;
    padding-bottom: .2rem;
    position: relative;
}

.light,
.line {
    position: absolute;
    background-color: #ddd;
}

.light {
    left: .47rem;
    top: .05rem;
    width: .28rem;
    height: .28rem;
    border-radius: 50%;
    z-index: 10;
}

.line {
    top: .33rem;
    left: .58rem;
    width: .05rem;
    height: 100%;
    z-index: 9;
}

.logisticsLi:nth-child(1) {
    color: #93d521;
}

.logisticsLi:nth-child(1) .light {
    left: .38rem;
    width: .4rem;
    height: .4rem;
    background-color: #93d521;
    border: .04rem solid #dff3c1;
}

.logisticsLi:nth-child(1) .line {
    top: .2rem;
}

.logisticsLi:nth-last-child(1) .line {
    display: none;
}

.detailMsg {
    box-sizing: border-box;
    width: 6rem;
    padding-right: .3rem;
    padding-bottom: .6rem;
    border-bottom: .01rem solid #eee;
}