.titile {
    padding-left: 1rem;
    padding-right: .2rem;
    line-height: .88rem;
    font-size: .3rem;
    color: #fff;
    background: url(./../img/service_1.png)no-repeat .2rem .15rem;
    background-size: 8%;
    background-color: #93d521;
}

.sessionUl {
    padding: .4rem;
}

.sessionLi {
    font-size: .3rem;
    color: #888;
    line-height: .42rem;
    margin-bottom: .4rem;
    position: relative;
}

.sessionBg {
    width: .25rem;
    height: .7rem;
    position: absolute;
    top: 0;
}

.service {
    text-align: left;
    margin-left: .25rem;
}

.service .sessionBg {
    left: -.1rem;
    background: url(./../img/session_r.png)no-repeat center;
    background-size: 100%;
}

.client .sessionBg {
    right: -.1rem;
    background: url(./../img/session_l.png)no-repeat center;
    background-size: 100%;
}

.client {
    text-align: right;
    margin-right: .25rem;
}

.session {
    padding: .2rem .4rem;
    background-color: #fff;
    display: inline-block;
    border-radius: .1rem;
}