.perCen-box {
    width: 7.5rem;
    height: 2.9rem;
    overflow: hidden;
    position: relative;
}

.perCen-bg,
.perCen-msg {
    left: calc(50% - 3.75rem);
    width: 100%;
    height: 100%;
    position: absolute;
}

.perCen-bg {
    top: -1.5rem;
    background: url(./../img/pec_bg.png)no-repeat center;
    background-size: 100% 100%;
    border-radius: 0 0 50% 50%;
    transform: scale(2);
    z-index: 1;
}

.perCen-msg {
    top: 0;
    box-sizing: border-box;
    padding: .55rem 1.15rem;
    color: #fff;
    z-index: 2;
}

.perCen-img {
    width: 1.36rem;
    height: 1.36rem;
    border: .05rem solid #caea90;
    margin: .12rem 0;
    margin-right: 1rem;
    border-radius: 50%;
}

.perCen-name {
    font-size: .3rem;
}

.perCen-attention {
    width: .6rem;
    height: .38rem;
    line-height: .38rem;
    padding-left: .45rem;
    font-size: .24rem;
    background: url(./../img/like_03.gif)no-repeat .05rem .06rem;
    background-size: 30%;
    background-color: #fff;
    color: #93d521;
    border-radius: .1rem;
    margin: .28rem 0 .15rem 0;
}

.perCen-circle {
    font-size: .26rem;
    line-height: .4rem;
    width: .9rem;
    height: .9rem;
    text-align: center;
    margin-top: .7rem;
}

.perCen-circle a {
    display: block;
    color: #fff;
    width: .9rem;
    height: .4rem;
    padding-top: .5rem;
    background: url(./../img/pyq.png)no-repeat .22rem .06rem;
    background-size: 50%;
}

.perCen-op {
    width: .5rem;
    height: .5rem;
    position: absolute;
    right: .3rem;
    top: .1rem;
    z-index: 3;
    background: url(./../img/edit.png)no-repeat center;
    background-size: 100%;
    background-color: #93d521;
}

.perCen-op a {
    display: block;
    width: 100%;
    height: 100%;
}

.ord-list {
    padding-top: .2rem;
    border-bottom: .01rem solid #eee;
}

.ord-li {
    width: 1.48rem;
    height: 1.4rem;
    line-height: .4rem;
    text-align: center;
}

.ord-li a {
    display: block;
    width: 1.48rem;
    height: .4rem;
    padding-top: .8rem;
    color: #666;
    padding-bottom: .2rem;
}

.waiPay a {
    background: url(./../img/pec_1.png)no-repeat .45rem .2rem;
    background-size: 40%;
}

.waiSend a {
    background: url(./../img/pec_2.png)no-repeat .48rem .2rem;
    background-size: 36%;
}

.waiReceive a {
    background: url(./../img/pec_3.png)no-repeat .45rem .2rem;
    background-size: 40%;
}

.waiCom a {
    background: url(./../img/pec_4.png)no-repeat .45rem .2rem;
    background-size: 40%;
}

.refund a {
    background: url(./../img/pec_5.png)no-repeat .48rem .2rem;
    background-size: 36%;
}

.ord-li-line {
    width: .02rem;
    height: .4rem;
    margin-top: .4rem;
    background-color: #f0eeef;
}

.perCen-ord,
.perCen-li {
    background-color: #fff;
}

.perCen-ord a,
.perCen-li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.perCen-ord a {
    width: 6.5rem;
    height: .82rem;
    line-height: .82rem;
    padding: 0 .8rem 0 .2rem;
    margin-bottom: .1rem;
    background: url(./../img/more_l.png)no-repeat 7rem .24rem;
    background-size: 2.5%;
}

.moreOrd {
    color: #999;
}

.perCen-li a {
    width: 5.9rem;
    height: .82rem;
    line-height: .82rem;
    padding: 0 .8rem;
}

.perCen-collect a {
    background: url(./../img/peli_1.png)no-repeat .25rem .22rem, url(./../img/more_l.png)no-repeat 7rem .24rem;
    background-size: 5%, 2.5%;
}

.perCen-ticket a {
    background: url(./../img/peli_2.png)no-repeat .25rem .22rem, url(./../img/more_l.png)no-repeat 7rem .24rem;
    background-size: 4.5%, 2.5%;
}

.perCen-addr a {
    background: url(./../img/peli_3.png)no-repeat .25rem .22rem, url(./../img/more_l.png)no-repeat 7rem .24rem;
    background-size: 4.5%, 2.5%;
}

.perCen-lesson a {
    background: url(./../img/peli_4.png)no-repeat .25rem .22rem, url(./../img/more_l.png)no-repeat 7rem .24rem;
    background-size: 5%, 2.5%;
}

.perCen-about a {
    background: url(./../img/peli_5.png)no-repeat .25rem .22rem, url(./../img/more_l.png)no-repeat 7rem .24rem;
    background-size: 5%, 2.5%;
}

.perCen-contact a {
    background: url(./../img/peli_6.png)no-repeat .25rem .22rem, url(./../img/more_l.png)no-repeat 7rem .24rem;
    background-size: 5%, 2.5%;
}

.perCen-list {
    margin-bottom: 1.1rem;
}

.menu .center div {
    background: url(./../img/menu_4_on.png)no-repeat center;
    background-size: 100%;
}

.menu .center p {
    color: #93d521;
}