.points-msg {
    width: 7.5rem;
    height: .88rem;
    line-height: .88rem;
}

.nowPoints,
.addPoints {
    box-sizing: border-box;
    padding: 0 .2rem;
    width: 50%;
    color: #fff;
    font-size: .3rem;
    background: -webkit-linear-gradient(left, #86c716, #bbf156);
}

.coupon-li {
    background: url(./../img/coupon_bg_3.png)no-repeat center;
    background-size: 100%;
}

.menu .circuit div {
        background: url(./../img/menu_2_on.png)no-repeat center;
    background-size: 90%;
}
.menu .circuit p {
        color: #93d521;
}