.points-msg {
    width: 7.5rem;
    height: .88rem;
    line-height: .88rem;
}

.nowPoints,
.addPoints {
    box-sizing: border-box;
    padding: 0 .2rem;
    width: 50%;
    color: #fff;
    font-size: .3rem;
    background: -webkit-linear-gradient(left, #86c716, #bbf156);
}