.ordDet-msg {
    margin-bottom: .1rem;
}

.ordDet-msg-person {
    font-size: .28rem;
    padding: .2rem 1rem;
}

.ordDet-msg-addr {
    padding: 0 1rem;
    font-size: .24rem;
    line-height: .4rem;
    color: #999;
    margin-bottom: .2rem;
}


/* 彩色线条 */

.dd-xt {
    width: 7.5rem;
    height: .08rem;
    background: url(./../img/dd_xt.png)no-repeat center;
    background-size: 100% 100%;
}

.ordDet-commodity {
    margin-bottom: .02rem;
}

.ordDet-commodity-cont {
    width: 7.1rem;
    padding: .38rem .2rem;
}

.ordDet-commodity-img {
    width: 1.58rem;
    height: 1.58rem;
    border: .01rem solid #eee;
    margin-right: .2rem;
}

.ordDet-commodity-img img {
    width: 100%;
    height: 100%;
}

.ordDet-commodity-msg {
    width: 3rem;
    max-height: 100%;
    overflow: hidden;
    margin-right: .2rem;
}

.ordDet-commodity-name {
    font-size: .3rem;
    line-height: .4rem;
}

.ordDet-commodity-size {
    font-size: .24rem;
    line-height: .4rem;
    color: #999;
}

.ordDet-commodity-pnum {
    width: 2.1rem;
    font-size: .24rem;
    line-height: .4rem;
    text-align: right;
}

.ocPrice {
    font-size: .26rem;
}

.ordDet-commodity-num {
    color: #999;
    margin-bottom: .38rem;
}

.ordDet-commodity-total span {
    color: red;
    margin-left: .1rem;
}

.ocTotal {
    font-size: .3rem;
}

.msg-dis {
    height: .98rem;
    line-height: .98rem;
    font-size: .3rem;
}

.md-number,
.md-remind {
    margin-bottom: .1rem;
}

.md-remind span {
    width: .8rem;
}

.md-remind input {
    height: .98rem;
    width: 6.3rem;
    line-height: .98rem;
    font-size: .28rem;
}

.carriage {
    color: #999;
}

.md-ticket {
    box-sizing: border-box;
    background: url(./../img/more_l.png)no-repeat 6.8rem .28rem;
    background-size: 3%;
    background-color: #fff;
    padding-right: .9rem;
}

.cTicket {
    text-align: right;
    margin: 0 .2rem;
    max-width: 4rem;
    color: #999;
}


/* 数量 */

.onbook-op .add,
.onbook-op .sub {
    width: .6rem;
    height: .5rem;
    margin-top: .24rem;
    border-radius: .15rem;
    overflow: hidden;
}

.onbook-op .add {
    background: url(./../img/as_add.png)no-repeat center;
    background-size: 100%;
}

.onbook-op .sub {
    background: url(./../img/as_sub.png)no-repeat center;
    background-size: 100%;
}

.onbook-op .add-cl {
    background: url(./../img/as_add_cl.png)no-repeat center;
    background-size: 100%;
}

.onbook-op .sub-cl {
    background: url(./../img/as_sub_cl.png)no-repeat center;
    background-size: 100%;
}

.onbook-op input {
    width: 1rem;
    height: .5rem;
    margin-top: .24rem;
    text-align: center;
}


/* 底部操作栏 */

.bt-op {
    line-height: .98rem;
    font-size: .3rem;
}

.bOp-l span {
    color: red;
}

.bOp-r {
    color: #fff;
    background-color: #93d521;
}


/* 优惠券 */

.ticket-box {
    width: 7.5rem;
    position: fixed;
    left: calc(50% - 3.75rem);
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    display: none;
}

.coupon-list {
    padding: .2rem 0;
}

.coupon-li2 {
    width: 6.75rem;
    margin: .15rem auto;
    color: #fff;
}

.coupon-li-box {
    width: 100%;
    height: 1.6rem;
    background: url(./../img/coupon_bg_2.png)no-repeat center;
    background-size: 100%;
}

.lose {
    color: #888;
}

.coupon-sec {
    height: 1.25rem;
}

.coupon-limit {
    height: 100%;
    line-height: 1.25rem;
    width: 1.42rem;
    text-align: center;
    border-right: .02rem dashed #eee;
}

.coupon-limit span {
    width: 1.56rem;
    font-size: .34rem;
}

.coupon-sec-cont {
    padding: .2rem;
    width: 4.9rem;
    line-height: .4rem;
}

.coupon-sec-type {
    font-size: .24rem;
}

.coupon-validity {
    height: .35rem;
    line-height: .35rem;
    padding: 0 .2rem;
    font-size: .24rem;
}

.coupon-validity span {
    margin-left: .1rem;
}

.coupon-op {
    line-height: .42rem;
    font-size: .26rem;
    text-align: right;
    display: none;
}

.coupon-op span {
    margin: 0 .1rem;
}

.coupon-state {
    color: #888;
}

.lose .coupon-op {
    display: block;
}

.myTicket {
    line-height: .98rem;
    font-size: .34rem;
    color: #fff;
    text-align: center;
    background-color: #93d521;
}