.sCar-op {
    box-sizing: border-box;
    width: 7.5rem;
    height: .88rem;
    padding: 0 .2rem;
    line-height: .88rem;
    text-align:center;
    color:#93d521;
    font-size:.33rem;
}

#allinp {
    margin-top: .25rem;
    margin-right: .15rem;
}

.del {
    width: .32rem;
    height: .38rem;
    margin-top: .25rem;
    background: url(./../img/del.png)no-repeat center;
    background-size: 100%;
    border-bottom: .01rem solid #eee;
}

.sCar-list {
    margin-bottom: 2.1rem;
    box-sizing: border-box;
    width: 7.5rem;
}

.sCar-li {
    height: 1.54rem;
    padding: .2rem;
    border-bottom: .01rem solid #eee;
    line-height: .4rem;
}

.sCarinp {
    margin-top: .57rem;
    margin-right: .2rem;
}

.sCarimg {
    box-sizing: border-box;
    width: 1.54rem;
    height: 100%;
    border: .01rem solid #eee;
    border-radius: .2rem;
    margin-right: .2rem;
}

.sCarmsg {
    width: 2.8rem;
}

.sCarname {
    font-size: .3rem;
}

.sCarsize {
    font-size: .24rem;
    color: #999;
    margin-bottom: .34rem;
}

.sCarprice {
    font-size: .24rem;
    color: red;
}

.sCarprice span {
    font-size: .28rem;
}

.menu .shopping-car div {
    background: url(./../img/menu_3_on.png)no-repeat center;
    background-size: 100%;
}

.menu .shopping-car p {
    color: #93d521;
}

.compute-op .add,
.compute-op .sub {
    width: .6rem;
    height: .5rem;
    margin-top: 1rem;
    border-radius: .15rem;
    overflow: hidden;
}

.compute-op .add {
    background: url(./../img/as_add.png)no-repeat center;
    background-size: 100%;
}

.compute-op .sub {
    background: url(./../img/as_sub.png)no-repeat center;
    background-size: 100%;
}

.compute-op .add-cl {
    background: url(./../img/as_add_cl.png)no-repeat center;
    background-size: 100%;
}

.compute-op .sub-cl {
    background: url(./../img/as_sub_cl.png)no-repeat center;
    background-size: 100%;
}

.compute-op input {
    display: block;
    box-sizing: border-box;
    width: .6rem;
    height: .5rem;
    margin-top: 1rem;
    text-align: center;
}

.bt-op {
    bottom: .98rem;
    line-height: .98rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.bt-op .bOp-l>span {
    color: red;
    font-size: .2rem;
}

.bt-op .bOp-l>span>span {
    font-size: .28rem;
}

.bt-op .bOp-r {
    background-color: #93d521;
    color: #fff;
}